<html>
<head>
</head>

<body>

<table id="Table_01" width="591" height="356" border="0" cellpadding="0" cellspacing="0">
	<tr>
	  <td colspan="3" style="text-align:center;">
      <span style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:large; font-weight:bold;"><a href="mailto:{{email}}">{{name}}</a> has sent you an e-mail via <a href="https://www.givology.org/">Givology.org</a></span>      </td>
  </tr>
	<tr>
	  <td colspan="3" style="text-align:center;padding:10px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;color:#6a8fb6;">{{message}}</td>
  </tr>
	<tr>
		<td>
			<img src="https://www.givology.org/images/email/stw_email_01.jpg" width="211" height="25" alt=""></td>
		<td>
			<img src="https://www.givology.org/images/email/stw_email_02.jpg" width="343" height="25" alt=""></td>
		<td>
			<img src="https://www.givology.org/images/email/stw_email_03.jpg" width="37" height="25" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="https://www.givology.org/images/email/stw_email_04.jpg" width="211" height="241" alt=""></td>
		<td><span style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;">
<span style="font-weight:bold; color:#6a8fb6;">giv&bull;o&bull;lo&bull;gy</span> (g&#x12D;v-&#x14F;l&#180;e-j&#x113;) <span style="color:#6a8fb6;font-weight:bold;"><i>n.</i>1.</span> the science of giving
  <span style="color:#6a8fb6;"><b>2.</b></span> a theory or system of giving <span style="color:#6a8fb6;"><b>3.</b></span> a unique way to help students around the world get an education</span></span>
  <br />
  <br />
  <span style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;color:#6a8fb6;">If poverty is isolation, shouldn’t the solutions to poverty focus on <b>connecting people</b>? Givology is a website that does just this—it connects donors to <b>promising students</b> in developing countries looking to fund their educations.</span></td>
  <td>
			<img src="https://www.givology.org/images/email/stw_email_06.jpg" width="37" height="241" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="https://www.givology.org/images/email/stw_email_07.jpg" width="211" height="90" alt=""></td>
		<td>
			<img src="https://www.givology.org/images/email/stw_email_08.jpg" width="343" height="90" alt=""></td>
	  <td>
	    <p><img src="https://www.givology.org/images/email/stw_email_09.jpg" width="37" height="90" alt=""></p>      </td>
  </tr>
	<tr>
	  <td colspan="3" style="text-align:center;padding-top:10px;"><p><span style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:x-large; color:#6a8fb6;font-weight:bold;">Want to know more? Log onto <a href="http://www.givology.org">Givology.org</a> to start making a difference today.</span></p></td>
  </tr>
</table>

</body>
</html>
