<html>
<head>
</head>
<body>
<!-- do something with {{msg}} -->
<div style="width:589;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:large; font-weight:bold;padding-bottom:20px;"><a href="{{inviterurl}}">{{invitername}}</a> has sent you an e-mail via <a href="https://www.givology.org/">Givology.org</a></div>
<table id="Table_01" width="589" height="626" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="https://www.givology.org/images/email/teaminv_email_01.png" width="207" height="43" alt=""></td>
		<td>
			<img src="https://www.givology.org/images/email/teaminv_email_02.png" width="363" height="43" alt=""></td> 
		<td>
			<img src="https://www.givology.org/images/email/teaminv_email_03.png" width="19" height="43" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="https://www.givology.org/images/email/teaminv_email_04.png" width="207" height="466" alt=""></td>
		<td>
			<div id="in_bubble" style="padding-left:10px; padding-right:10px; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:small;color:#6a8fb6;">
            <p>Dear Friend,</p>
<p>You have been invited to join {{teamname}} on Givology.org, an online giving marketplace for education that allows you to contribute to grassroots education projects and student scholarships in the developing world. On Givology, your donation not only empowers students, but you can track your impact, read student updates and letters, and send messages in support! We believe in democratizing philanthropy and facilitating connections.</p>
<p>To join the team, please click <a href="{{link}}">this link</a></p>
<p>In order to join the team, you need to be <a href="https://www.givology.org/register/">registered on our site</a>.  Registering and contributing makes a huge difference in a child's life.</p>
<p>Thank you!</p>
<p>Sincerely,</p>
<p style="font-size:medium;color:#497912;font-weight:bold">The Givology Team</p>
            </div>
		<td>
			<img src="https://www.givology.org/images/email/teaminv_email_06.png" width="19" height="466" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="https://www.givology.org/images/email/teaminv_email_07.png" width="207" height="117" alt=""></td>
		<td>
			<img src="https://www.givology.org/images/email/teaminv_email_08.png" width="363" height="117" alt=""></td>
		<td>
			<img src="https://www.givology.org/images/email/teaminv_email_09.png" width="19" height="117" alt=""></td>
	</tr>
</table>
<div style="width:589;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:x-large; color:#6a8fb6;font-weight:bold;padding-top:20px;">Want to know more? Log onto <a href="http://www.givology.org">Givology.org</a> to start making a difference today.</div>
</body>
</html>
