<html>
<head></head>
<body>

<p>Dear <a href="https://www.givology.org{{donor_url}}">{{donor_name}}</a>,</p>

<p>Thank you for your contribution to <a href="https://www.givology.org{{rec_url}}">{{rec_name}}</a>! Your gift helps empower students and build communities around the world. Our philosophy at Givology is to make your experience easy, transparent, and rewarding. </p>

<p><b>To help you track and make an impact</b>:</p>

<ul>
	<li> <b>Receive Automatic Updates</b>
		Whenever we receive an update from <a href="https://www.givology.org{{rec_url}}">{{rec_name}}</a>, you'll get an automatic e-mail. For this reason, please make sure that the e-mail address that you provided in your profile is accurate and up-to-date. To view student or project updates online, click '<a href="https://www.givology.org{{rec_url}}blog/">view my updates</a>', which is located under the profile photo. You can also check your dashboard for the latest updates.
	</li>
	<li> <b>Send a Message</b>
		As you may know, one unique feature on Givology is that you can message our students. With the help of our volunteer translators, we deliver your letters to our students, and then translate and post their responses online. Simply by telling a student a little about yourself, your family, and your life, you can help them make a global connection and motivate them to continue school. As Malcolm Gladwell said, "Poverty is not deprivation. It is isolation". To message a student, view the profile and under the photo, click '<a href="https://www.givology.org/compose/?type=message&to={{rec_uname}}">Message Me</a>'. You can also access messaging and updates through your account dashboard.
	</li>
	<li> <b>Join and Contribute to our Networks</b>
		At Givology, we believe that giving should be an active, community effort. To get started, please join our <a href="http://twitter.com/Givology/">Twitter</a>, <a href="http://www.facebook.com/Givology">Facebook</a>, and <a href="http://www.linkedin.com/in/givology">Linked-in</a> groups. You can also participate in one of our <a href="http://www.givology.org/our-community/giving-teams/">Giving Teams</a> and log your volunteer hours on your dashboard! We'd love to learn more about you, and have you <a href="http://www.givology.org/get-involved/">get more involved as a volunteer</a>. 
	</li>
</ul>

<p>Thank you once again for your contribution! If you have any suggestions, comments, or feedback, we'd love to hear from you. You can contact us at <a href="mailto:info@givology.org">info@givology.org</a>.</p> 

<p>Sincerely,</p>
<p>The Givology Team</p>

</body>
</html>
