/* =============================================================================
   Font-Face
   ========================================================================== */
@font-face {
    font-family: 'OpenSansRegular';
    src: url('/static/lightbringer/assets/fonts/opensans-regular-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansLightRegular';
    src: url('/static/lightbringer/assets/fonts/opensans-light-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-light-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemiboldRegular';
    src: url('/static/lightbringer/assets/fonts/opensans-semibold-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansCondensedLightRegular';
    src: url('/static/lightbringer/assets/fonts/opensans-condlight-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-condlight-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-condlight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansExtraboldRegular';
    src: url('/static/lightbringer/assets/fonts/opensans-extrabold-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansBold';
    src: url('/static/lightbringer/assets/fonts/opensans-bold-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('/static/lightbringer/assets/fonts/opensans-condbold-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-condbold-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-condbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('/static/lightbringer/assets/fonts/opensans-italic-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-italic-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('/static/lightbringer/assets/fonts/opensans-extrabolditalic-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('/static/lightbringer/assets/fonts/opensans-semibolditalic-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-semibolditalic-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-semibolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('/static/lightbringer/assets/fonts/opensans-lightitalic-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansCondensedLightItalic';
    src: url('/static/lightbringer/assets/fonts/opensans-condlightitalic-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-condlightitalic-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-condlightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('/static/lightbringer/assets/fonts/opensans-bolditalic-webfont.eot');
    src: url('/static/lightbringer/assets/fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lightbringer/assets/fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('/static/lightbringer/assets/fonts/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { color: #555; }
body { margin: 0; font-size: 13px; line-height: 1.7; }

::-moz-selection { background: #444; color: #fff; text-shadow: none; }
::selection { background: #444; color: #fff; text-shadow: none; }

a { color: #3ab4db; text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active {
	color: #8DC63F;
	outline: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* ul, ol { margin: 1em 0; padding: 0 0 0 40px; } */
ul, ol{ list-style: none; list-style-image: none; margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Jeffrey Pia
   ========================================================================== */

/* ======================
	TYPOGRAPHY
====================== */
html, button, input, select, textarea,
.footer-widgets .widget p a span,
#footer-nav li ul li a,
.footer-widgets .widget.twitter a{ font-family: 'OpenSansRegular', arial, sans-serif; }
.button,
#page-title,
#support-givology h3,
#support-givology ul li a span,
.widget .widget-title,
.footer-widgets .widget p a,
.footer-widgets .widget .button span{ font-family: 'OpenSansExtraboldRegular', arial, sans-serif; }
#primary ul li a{ font-family: 'OpenSansCondensedBold', arial, sans-serif; }
#secondary ul li a{ font-family: 'OpenSansSemiboldRegular', arial, sans-serif; }
#content-main article h1{ font-family: 'OpenSansLightRegular', arial, sans-serif; }
b, strong,
#footer-nav li h5,
#content-main article h2,
#content-main article h3,
#content-main article h4,
#content-main article h5,
#content-main article h6{
	font-weight: normal;
	font-family: 'OpenSansBold', arial, sans-serif;
}
x{ font-family: 'OpenSansCondensedLightRegular', arial, sans-serif; }
i, em{
	font-style: normal;
	font-family: 'OpenSansItalic', arial, sans-serif;
}

/* ======================
	CLEAR FIX
====================== */

.executive-team #content-main ul li:before, .executive-team #content-main ul li:after,
.widget.profile-listing .profile:before, .widget.profile-listing .profile:after,
.widget .featured-meta:before, .widget .featured-meta:after,
.clearfix:before, .clearfix:after { content: ""; display: table; }

.executive-team #content-main ul li:after,
.widget.profile-listing .profile:after,
.widget .featured-meta:after,
.clearfix:after { clear: both; }

.executive-team #content-main ul li,
.widget.profile-listing .profile,
.widget .featured-meta,
.clearfix { *zoom: 1; }

/* ======================
	GENERAL STYLES
====================== */

body{
	background: url(../images/bg-body.jpg);
}
em{ font-style: normal; }
p{ margin: 10px 0 0; }
p:first-child{ margin-top: 0; }

/* ======================
	HEADER
====================== */
.no-js body > header{
	width: 960px;
	margin: 30px auto 0;
}
body > header{ overflow-x: hidden; }
#logo{
	float: left;
	margin-top: 15px;
}
#logo a{
	display: block;
	width: 378px;
	height: 95px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/logo.png) no-repeat;
}
#header-meta{
	float: right;
	width: 500px;
	height: 100px;
	padding: 40px 30px 0 0;
	margin-right: -30px;
	text-align: right;
	background: url(../images/bg-header.png) no-repeat right top;
	font-size: 0;
}
#header-meta p,
#header-meta nav,
#header-meta ul li{
	display: inline-block;
	vertical-align: middle;
}
.lt-ie8 #header-meta p,
.lt-ie8 #header-meta nav,
.lt-ie8 #header-meta ul li{
	position: relative;
	display: inline;
}
#header-meta p{
	margin: 0 13px 0 0;
	font-size: 15px;
	color: #111;
}
#header-nav li{ padding-left: 10px; }
#header-nav li:first-child{ padding-left: 0; }
#header-meta .social{ margin-top: 10px; }

#header-meta .button{ padding: 10px 11px; }
#header-meta .button span{
	font-size: 16px;
	text-transform: capitalize !important;
}

/* ======================
	NAV
====================== */

#primary{
	clear: both;
	height: 50px;
	padding-bottom: 10px;
	background: url(../images/bg-nav-primary.png) repeat-x;
	position: relative;
}
#secondary{
	height: 50px;
	margin-top: -10px;
	background: url(../images/bg-nav-secondary.png) repeat-x;
	position: relative;
	z-index: 2;
}
#primary ul,
#secondary ul{
	width: 960px;
	margin: 0 auto;
	font-size: 0;
	position: relative;
	top: 3px;
}
#primary ul li,
#secondary ul li{
	display: inline-block;
}
.lt-ie8 #primary ul li,
.lt-ie8 #secondary ul li{
	position: relative;
	display: inline;
}
#primary ul li{ margin-left: 30px; }
#secondary ul li{ margin-left: 30px; }
#primary ul li:first-child,
#secondary ul li:first-child{ margin-left: 0; }
#primary ul li a,
#secondary ul li a{
	display: block;
	padding-top: 13px;
	padding-bottom: 2px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}
#primary ul li.active a,
#primary ul li a:hover{
	color: #252525;
}
#secondary ul li.active a,
#secondary ul li a:hover{
	/*padding-bottom: 0;
	border-bottom: 2px dashed #fff;*/
	color: #8DC63F;
}
#primary ul li a{
	font-size: 21px;
	line-height: 25px;
}
#secondary ul li a{
	font-size: 14px;
	line-height: 20px;
}

#search{
	width: 200px;
	height: 27px;
	position: absolute;
	top: 13px;
	right: 50%;
	margin-right: -480px;
	font-size: 0;
	background: #fff;
}
#search input{
	height: 27px;
	line-height: 27px;
	display: inline-block;
	vertical-align: middle;
	background: none;
	border: 0;
	margin: 0;
}
.lt-ie8 #search input{
	display: inline;
	zoom: 1;
}
#search label,
#search input[type="text"]{
	height: 27px;
	font-size: 13px;
	line-height: 27px;
	color: #b7b7b7;
}
#search label{
	position: absolute;
	left: 5px;
}
#search input[type="text"]{
	width: 165px;
	padding: 0 5px;
}
#search input[type="text"]:focus{ outline: 2px solid #3ab4db; }
#search input[type="submit"]{
	width: 25px;
	padding: 0;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/ico-magnifying-glass.png) no-repeat center center;
}

/* ======================
	MAIN CONTENT AREA
====================== */

#container{
	position: relative;
	z-index: 2;
}
#container > .inner{ position: relative; }
.no-js #container{
	width: 960px;
	margin: 0 auto;
}
#page-title{
	margin-top: 30px;
	font-size: 45px;
	color: #8dc63f;
	text-shadow: 0 1px 0 #fff;
}

/* Main Content */
.sidebar-right #content-main,
.sidebar-left #content-main{ width: 650px; }
.sidebar-right #content-main{
	float: left;
	margin-right: 40px;
}
.sidebar-left #content-main{
	float: right;
	margin-left: 40px;
}
.section-heading{
	margin: 45px 0 8px;
	font: 16px 'OpenSansExtraboldRegular', arial, sans-serif;
	color: #111;
	text-align: center;
	text-transform: uppercase;
}
.section-heading.structured{
	margin-top: 50px;
	border-top: 2px dashed #ccc;
}
.section-heading span{
	padding: 0 10px;
	position: relative;
	top: -12px;
	background: #fafafa;
}
#content-main .article-content h1{ font-size: 24px; }
#content-main .article-content h2{ font-size: 16px; }
#content-main .article-content h3{ font-size: 14px; }
#content-main .article-content h4{ font-size: 13px; }
#content-main .article-content h5{ font-size: 12px; }
#content-main .article-content h6{ font-size: 10px; }
#content-main .article-content h1,
#content-main .article-content h2,
#content-main .article-content h3,
#content-main .article-content h4,
#content-main .article-content h5,
#content-main .article-content h6,
#content-main .article-content p{ margin-top: 25px; }
#content-main .article-content h1:first-child,
#content-main .article-content h2:first-child,
#content-main .article-content h3:first-child,
#content-main .article-content h4:first-child,
#content-main .article-content h5:first-child,
#content-main .article-content h6:first-child,
#content-main .article-content p:first-child{ margin-top: 0; }
#content-main .article-content ul,
#content-main .article-content ol{ margin-left: 15px; }
#content-main .article-content ul{ list-style-image: url(../images/bg-dot-green.gif); }
#content-main .article-content ol{ list-style: numeric; }
#content-main .article-content h1 + p,
#content-main .article-content h2 + p,
#content-main .article-content h3 + p,
#content-main .article-content h4 + p,
#content-main .article-content h5 + p,
#content-main .article-content h6 + p{ margin-top: 10px; }
#content-main .article-content p strong em,
#content-main .article-content p em strong{
	font-style: normal;
	font-family: 'OpenSansBold', arial, sans-serif;
	color: #8dc63f;
}
/* Sidebar */
aside{ width: 270px; }
.sidebar-right aside{ float: left; }
.sidebar-left aside{ float: right; }
aside .widget{ margin-top: 40px; }
aside .widget:first-child{ margin-top: 50px; }
aside .widget-title span{ background: #fafafa; }
aside .widget-top,
aside .widget-bottom{ background-image: url(../images/bg-widget-small.png); }
aside .widget-content{ background-image: url(../images/bg-widget-small-repeat.png); }
aside .widget-alt .widget-top,
aside .widget-alt .widget-bottom{ background-image: url(../images/bg-widget-small-gray.png); }
aside .widget-alt .widget-content{ background-image: url(../images/bg-widget-small-gray-repeat.png); }

/* Forms */
form .title{
	font: 16px/70px 'OpenSansBold', arial, sans-serif;
	color: #111;
}
form label{
	display: block;
	font-size: 12px;
	line-height: 1;
}
form label span{
	color: #a7a7a7;
}
form input[type="text"],
form input[type="password"],
form textarea{
	border: 1px solid #ccc;
	margin: 10px 0;
	background: #fff;
}
form input[type="text"],
form input[type="password"]{
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
}
form textarea{
	padding: 10px;
}
form input[type="submit"],
form button[type="submit"]{
	margin-top: 20px;
	border: 1px solid #35a4c7;
}
form select{
	height: 27px;
	font-size: 11px;
}
form .select-replace{
	height: 25px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: url(../images/bg-select.gif) no-repeat right center #fff;
	font-size: 13px;
	color: #929292;
	line-height: 25px;
}
form .custom_checkbox{
	margin-left: -20px;
	position: relative;
	top: 8px;
	float: left;
	width: 12px;
	height: 12px;
	background: url(../images/bg-checkbox.png) no-repeat;
}
.lt-ie8 form .custom_checkbox{ top: 10px; }
form .custom_checkbox.selected{ background-position: left bottom; }
form .custom_checkbox input{
	width: 12px;
	height: 12px;
	margin-left: 0;
	position: static;
	top: 0;
	opacity: 0;
}
.lt-ie9 form .custom_checkbox input{ filter: alpha(opacity=0.0); }

/* Widgets */
#content-main .widget-top,
#content-main .widget-bottom{ background-image: url(../images/bg-widget-medium.png); }
#content-main .widget-content{ background-image: url(../images/bg-widget-medium-repeat.png); }
#content-main .widget-alt .widget-top,
#content-main .widget-alt .widget-bottom{ background-image: url(../images/bg-widget-medium-gray.png); }
#content-main .widget-alt .widget-content{ background-image: url(../images/bg-widget-medium-gray-repeat.png); }

.widget-content{ border: 4px solid #8dc63f; }
.widget.structured .widget-content{
	padding: 0 4px;
	border: 0;
	background-repeat: repeat-y;
}
.widget .widget-title{
	font-size: 14px;
	color: #8dc63f;
	text-transform: uppercase;
}
#content-main .widget .widget-title{ font-size: 16px; }
.widget .widget-title.structured{ border-bottom: 2px dashed #3ebee7; }
.widget .widget-title{ margin-bottom: 14px; }
.widget .widget-title .edit{
	float: right;
	position: relative;
	top: 7px;
}
.widget .widget-title span{
	padding-right: 10px;
	position: relative;
	top: 7px;
}
.widget .widget-title sub{
	font-family: arial, sans-serif;
	bottom: 0;
	font-size: 100%;
	line-height: inherit;
	position: static;
	vertical-align: inherit;
}
.widget-top,
.widget-bottom{
	height: 4px;
	background-repeat: no-repeat;
}
.widget-top{ background-position: left bottom; }
.widget-bottom{ background-position: left top; }

/* ======================
	SUPPORT GIVOLOGY
====================== */

#support-givology{
	width: 960px;
	margin: 75px auto 0;
	text-align: center;
}
#support-givology h3{
	font-size: 16px;
	color: #111;
	text-transform: uppercase;
}
#support-givology h3.structured{
	margin-top: 16px;
	border-top: 2px dashed #ccc;
}
#support-givology h3 span{
	padding: 0 10px;
	position: relative;
	top: -12px;
	background: #fafafa;
}
#support-givology ul{
	font-size: 0;
}
#support-givology ul li{
	display: inline-block;
	margin-left: 70px;
}
.lt-ie8 #support-givology ul li{
	position: relative;
	display: inline;
}
#support-givology ul li:first-child{ margin-left: 0; }
#support-givology ul li a{
	display: block;
	width: 185px;
	padding-top: 200px;
	background: url(../images/ico-support-givology.png) no-repeat;
}
#support-givology ul li#giv-givology a{ background-position: 0 0; }
#support-givology ul li#giv-student a{ background-position: -185px 0; }
#support-givology ul li#giv-project a{ background-position: -370px 0; }
#support-givology ul li#giv-gift-certificate a{ background-position: -555px 0; }


/*======================
	FOOTER
======================*/
body > footer{
	padding-top: 50px;
	margin-top: 90px;
	background: #252525;
}
/* Structured class styles non-sematic elements added via .js */
body > footer.structured{
	padding-top: 5px;
	background: url(../images/bg-footer.png) repeat-x;
}
body > footer.structured > div{
	padding-top: 45px;
	background: #252525;
}


/* Footer widgets */
.footer-widgets{
	font-size: 0;
}
.no-js .footer-widgets{
	width: 960px;
	margin: 0 auto;
}
.footer-widgets .widget{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-left: 30px;
	background: url(../images/bg-support-givology-widget.gif) no-repeat center bottom;
}
.lt-ie8 .footer-widgets .widget{
	display: inline;
	zoom: 1;
}
.footer-widgets .widget:first-child{
	margin-left: 0;
}
.footer-widgets .widget .widget-title span{
	background: #252525;
}
.footer-widgets .widget .widget-content{
	height: 101px;
	padding: 15px 10px 0 0;
	border: 0;
	text-align: center;
	line-height: 14px;
	background-repeat: no-repeat;
	background-position: 5px bottom;
}
.footer-widgets .get-involved .widget-content{
	padding-left: 120px;
	background-image: url(../images/bg-get-involved.gif);
}
.footer-widgets .get-involved .widget-content .button{
	padding-left: 20px;
	padding-right: 20px;
}
.footer-widgets .shop-givology .widget-content{
	padding-left: 140px;
	background-image: url(../images/bg-shop-givology.gif);
}
.footer-widgets .twitter .widget-content{
	padding: 20px 20px 0;
	line-height: 17px;
	text-align: left;
	position: relative;
}
.footer-widgets .widget .widget-content p{ margin: 0; }
.footer-widgets .widget .widget-content p a{
	font-size: 16px;
	color: #8dc63f;
	text-transform: uppercase;
}
.lt-ie8 .footer-widgets .widget .widget-content p a{ line-height: 19px; }
.footer-widgets .widget .widget-content p a span{
	font-size: 13px;
	text-transform: lowercase;
}
.footer-widgets .widget .widget-content p .button{
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 3px;
}
.footer-widgets .widget.twitter .widget-content .tweet-text{
	font-size: 12px;
	line-height: 10px;
}
.lt-ie8 .footer-widgets .widget .widget-content .tweet-text{ line-height: 17px; }
.footer-widgets .widget.twitter .widget-content .tweet-text a{
	font-size: inherit;
	text-transform: none;
	color: #3ab4db;
}
.footer-widgets .widget.twitter .widget-content .tweet-text a:hover{ text-decoration: underline; }
.footer-widgets .widget.twitter .widget-content .tweet-date{ display: block; }
.footer-widgets .widget.twitter .widget-content .tweet-date a{
	font-size: 11px;
	color: #999;
}
.footer-widgets .widget.twitter .widget-content .tweet-date a:hover{ text-decoration: underline; }
.footer-widgets .widget.twitter .widget-content .follow-us{
	display: block;
	width: 137px;
	height: 40px;
	background: url(../images/bg-widget-twitter-button.png) no-repeat;
	position: absolute;
	bottom: -7px;
	right: -3px;
	text-indent: -9999px;
	overflow: hidden;
}
.footer-widgets .widget.twitter .widget-content .follow-us:hover{ background-position: left bottom; }

/* Footer Nav */
#footer-nav{
	padding-top: 30px;
	border-top: 1px dashed #323232;
	margin-top: 36px;	
}
.no-js #footer-nav{
	width: 960px;
	margin: 36px auto 0;
}
#footer-nav li{
	float: left;
	margin-left: 70px;
}
#footer-nav li:first-child{ margin-left: 0; }
#footer-nav li a:hover{ text-decoration: underline; }
#footer-nav li h5 a{
	font-size: 13px;
	color: #e1ddd1;
}
#footer-nav li ul{
	width: 100px;
	margin-top: 10px;
}
#footer-nav li ul li{
	float: none;
	margin-left: 0;
}
#footer-nav li ul li a{
	font-size: 12px;
	line-height: 20px;
	color: #3ebee7;
}

/* Social Media icons */
footer .social{
	float: right;
	margin-top: -15px;
	font-size: 0;
}
.no-js footer .social{
	position: relative;
	right: 50%;
	margin-right: -480px;
}
footer .social li{
	display: inline-block;
	margin-left: 5px;
}
.lt-ie8 footer .social li{
	display: inline;
	zoom: 1;
}
footer .social li:first-child{ margin-left: 0; }
footer .social li a{
	display: block;
	width: 26px;
	height: 26px;
	background: url(../images/ico-social.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
footer .social li.facebook a{ background-position: 0 0; }
footer .social li.twitter a{ background-position: -26px 0; }
footer .social li.linkedin a{ background-position: -52px 0; }
footer .social li.facebook a:hover{ background-position: 0 -26px; }
footer .social li.twitter a:hover{ background-position: -26px -26px; }
footer .social li.linkedin a:hover{ background-position: -52px -26px; }

/* Footer Meta */
#footer-meta{
	clear: both;
	padding: 10px 0 30px;
	border-top: 1px dashed #323232;
	margin-top: 30px;
}
.no-js #footer-meta{
	width: 960px;
	margin: 30px auto 0;
}
#copyright{
	float: left;
	font-size: 12px;
	color: #666;
}
#lightmaker{
	float: right;
	font-size: 12px;
}
#lightmaker a{ color: #8dc63f; }
#lightmaker a:hover{ text-decoration: underline; }

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.inner{ width: 960px; margin: 0 auto; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

/* Button Styles */
.button{
	display: inline-block;
	padding: 6px 14px;
	border: 1px solid #35a4c7;
	font-size: 13px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	text-transform: uppercase !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	background: #3ab4db;
}
button.button{ padding: 6px 14px 3px 14px; }
.lt-ie8 .button{
	position: relative;
	display: inline;
}
.button span{
	display: block;
	padding-bottom: 3px;
	margin-bottom: -3px;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
}
button.button span{ margin-bottom: 0; }
a:hover .button,
a:active .button,
.button:hover,
.button:active{
	color: #fff;
	border-color: #85bb3c;
	background-color: #8dc63f;
	text-decoration: none;
}
.button-cta{
	border-color: #85bb3c;
	background-color: #8dc63f;
}
a:hover .button-cta,
.button-cta:hover{
	border-color: #35a4c7;
	background-color: #3ab4db;
}
a:hover .button.structured span,
.button.structured:hover span{
	/*background: url(../images/bg-button-underline.png) repeat-x left bottom;*/
}
.view-less,
.view-more{
	display: none;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	font-size: 10px;
	text-transform: uppercase;
	background: #ececec;
}
.js .view-more{ display: inline-block; }
.edit{
	display: inline-block;
	vertical-align: middle;
	padding: 0 18px 0 6px;
	font: 10px/20px 'OpenSansSemiboldRegular', arial, sans-serif;
	color: #8dc63f;
	text-align: center;
	text-transform: uppercase;
	background: url(../images/ico-edit.gif) no-repeat right top #ececec;
	white-space: nowrap;
	overflow: hidden;
}
.edit:hover{
	color: #3ab4db;
	background-position: right bottom;
}
.lt-ie8 .edit{
	display: inline;
	zoom: 1;
}
.edit + input[type="file"]{ display: none; }
	

/* =============================================================================
   Basic jQuery Slider
   ========================================================================== */
 
/* Essential Styles */
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{display:none;position:absolute;}

ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}

ol.bjqs-markers{list-style:none;margin:0;padding:0;z-index:9999;}
ol.bjqs-markers li{float:left;}

p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* Custom Styles */
.bjqs-controls{
	width: 69px;
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 0;
}
.bjqs-controls li{
	display: block;
	float: right;
}
.bjqs-controls li:first-child{ margin-left: 10px; }
.bjqs-next,
.bjqs-prev{
	display: block;
	width: 27px;
	height: 27px;
	background: url(../images/btn-controls-carousel.gif) no-repeat
}
.lt-ie8 .bjqs-controls li{
	display: inline;
	zoom: 1;
}
.bjqs-next{ background-position: right top; }
.bjqs-markers{ display: none; }

/* =============================================================================
   Progress Bars
   ========================================================================== */
.progress{
	padding: 5px;
	background: #eaeaea;
}
.progress-total-bar{ position: relative; }
.progress-given-bar{
	position: absolute;
	left: 0;
	top: 0;
}
.progress-total-bar,
.progress-total-amount{
	display: inline-block;
	vertical-align: middle;
}
.lt-ie8 .progress-total-bar,
.lt-ie8 .progress-total-amount{
	display: inline;
	zoom: 1;
}
.progress-total-bar{ background: #c6c6c6; }
.progress-given-bar,
.progress-current-bar,
.progress-current-amount{
	display: block;
	height: 25px;
}
.progress-given-bar,
.progress-current-bar{
	width: 0;
}
.progress-given-bar{ background: url(../images/bg-given-bar-graph-repeat.gif) repeat-x; }
.progress-current-bar{ background: url(../images/bg-bar-graph-repeat.gif) repeat-x; }
.progress-current-bar{
	width: 0;
	background: url(../images/bg-bar-graph-repeat.gif) repeat-x;
}
.progress-current-amount{
	margin-right: 5px;
	text-align: right;
	color: #252525;
	font: 14px/25px 'OpenSansCondensedBold', arial, sans-serif;
}
.progress-total-amount{
	margin-left: 5px;
	font: 14px/25px 'OpenSansCondensedBold', arial, sans-serif;
}

/* =============================================================================
   Default styling for jQuery Datepicker v4.0.6.
   ========================================================================== */
.datepick {
	background-color: #fff;
	color: #222;
	border: 1px solid #aaa;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 90%;
}
.datepick-rtl {
	direction: rtl;
}
.datepick-popup {
	z-index: 1000;
}
.datepick-disable {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.datepick a {
	color: #222;
	text-decoration: none;
}
.datepick a.datepick-disabled {
	color: #888;
	cursor: auto;
}
.datepick button {
    margin: 0.25em;
    padding: 0.125em 0em;
    background-color: #fcc;
    border: none;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    font-weight: bold;
}
.datepick-nav, .datepick-ctrl {
	float: left;
	width: 100%;
	background-color: #fff;
	font-size: 90%;
	font-weight: bold;
}
.datepick-cmd {
	width: 30%;
}
.datepick-cmd:hover {
	background-color: #e0e0e0;
}
.datepick-cmd-prevJump, .datepick-cmd-nextJump {
	width: 8%;
}
a.datepick-cmd {
	height: 1.5em;
}
button.datepick-cmd {
	text-align: center;
}
.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
	float: left;
	padding-left: 2%;
}
.datepick-cmd-current, .datepick-cmd-today {
	float: left;
	width: 35%;
	text-align: center;
}
.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
	float: right;
}
.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
}
.datepick-month-nav {
	float: left;
	text-align: center;
}
.datepick-month-nav div {
	float: left;
	width: 12.5%;
	margin: 1%;
	padding: 1%;
}
.datepick-month-nav span {
	color: #888;
}
.datepick-month-row {
	clear: left;
}
.datepick-month {
	float: left;
	width: 15em;
	border: 1px solid #aaa;
	text-align: center;
}
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
	height: 1.5em;
	background-color: #e0e0e0;
	color: #222;
	font-weight: bold;
}
.datepick-month-header select, .datepick-month-header input {
	height: 1.4em;
	border: none;
}
.datepick-month-header input {
	position: absolute;
	display: none;
}
.datepick-month table {
	width: 100%;
	border-collapse: collapse;
}
.datepick-month thead {
	border-bottom: 1px solid #aaa;
}
.datepick-month th, .datepick-month td {
	margin: 0em;
	padding: 0em;
	font-weight: normal;
	text-align: center;
}
.datepick-month thead tr {
	border: 1px solid #aaa;
}
.datepick-month td {
	background-color: #eee;
	border: 1px solid #aaa;
}
.datepick-month td.datepick-week * {
	background-color: #e0e0e0;
	color: #222;
	border: none;
}
.datepick-month a {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
	background-color: #eee;
	color: #000;
	text-decoration: none;
}
.datepick-month span {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
}
.datepick-month td span {
	color: #888;
}
.datepick-month td .datepick-other-month {
	background-color: #fff;
}
.datepick-month td .datepick-weekend {
	background-color: #ddd;
}
.datepick-month td .datepick-today {
	background-color: #fbf9ee;
}
.datepick-month td .datepick-highlight {
	background-color: #dadada;
}
.datepick-month td .datepick-selected {
	background-color: #fcc;
}
.datepick-status {
	clear: both;
	text-align: center;
}
.datepick-clear-fix {
	clear: both;
}
.datepick-cover {
    display: none;
    display/**/: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -1px;
    left: -1px;
    width: 100px;
    height: 100px;
}

/* =============================================================================
   Pager
   ========================================================================== */

.pager{
	clear: both;
	font-size: 0;
	text-align: right;
}
.pager li{
	display: inline-block;
	margin-left: 4px;
	font: 12px/24px 'OpenSansBold', arial, sans-serif;
}
.lt-ie8 .pager li{
	display: inline;
	zoom: 1;
}
.pager li:first-child{ margin-left: 0; }
.pager li a{
	display: block;
	height: 24px;
	padding: 0 8px;
	border: 1px solid #eaeaea;
	background: #fff;
	color: #acacac;
}
.pager li a:hover{
	border-color: #35a4c7;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	background: none repeat scroll 0 0 #3ab4db;
}
.pager li span{ margin: 0 10px; }

#share{
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}
#share a{
	display: block;
	width: 245px;
	height: 97px
}
#share .share-container{
	width: 166px;
	height: 103px;
	padding-top: 20px; 
	background: url(../images/bg-share.png) no-repeat;
	position: absolute;
	left: -9999px;
	bottom: 45px;
}
#share.hover .share-container{
	left: auto;
	right: 0;
}
#share .share-container .fb_edge_widget_with_comment{ vertical-align: top; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
