{% extends "giv/templates/main" %}

{% block mainbody %}
<div id="container" class="clearfix sidebar-right dashboard">
  <section role="main" id="content-main">
    <h2 id="page-title">My Dashboard</h2>
    
    <div class="widget widget-alt actions">
      <div class="widget-content clearfix">
        <div class="actions-filter">
          <div class="profile-meta">
            <div class="profile-thumb">
              <div class="profile-thumb-img"
                style="background: #fff url('{{summary.picurl}}')
                            no-repeat scroll center;">
              </div>
              <!--img width="98" height="98" src="{{summary.picurl}}" /-->
              <!--a href="{{summary.url}}" class="edit">Edit</a-->
            </div>
            <span class="profile-name">{{summary.name}}</span>
          </div>
          <ul>
            <li class="active"><a actionchoice="true" href="#">Volunteering</a></li>
            <li><a actionchoice="true" href="#">Autodonate</a></li>
            {% if isstaff %}
            <li><a actionchoice="true" href="#">Administration</a></li>
            {% endif %}
            <li><a href="{{summary.edit_url}}">Update Profile</a></li>
          </ul>
        </div>
        <ul class="actions-tabs">
          <li class="active">
            <form action="/volunteered/" method="POST" class="volunteering clearfix">
              <h4>Tell us about your volunteer activities!</h4>
              <p>Log your activities to keep track of how you've made an impact on Givology.</p>
              <fieldset>
                <!--On
                <input type="text" class="field-date" id="volunteering-field-date" /-->
                I spent
                <select name="minutes" id="volunteering-hours">
                  <option value="30">30 minutes</option>
                  <option value="60">1 hour</option>
                  <option value="120">2 hours</option>
                  <option value="240">4 hours</option>
                </select>
                volunteering by
                <select name="action" id="volunteering-activity">
                  <option>spreading the word</option>
                  <option>fundraising</option>
                  <option>writing a letter</option>
                  <option>participating in a campaign</option>
                  <option>blogging</option>
                  <option>interacting on social media</option>
                  <option>programming</option>
                  <option>other</option>
                </select>
              </fieldset>
              <div class="button-container">
                <input type="submit" class="button" value="Save" />
              </div>
            </form>
          </li>
          <li>
            <form method="POST" action="/autodonate/">
              <h4>Autodonation</h4>
              <p>Some people like to choose, others prefer to let us decide! If you would like for us to help you allocate funding to our grassroots projects and student scholarships, use our autodonate feature and we'll automatically direct the amount below to our highest priority funding needs.</p>
              $<input type="text" name="amount" size="7" /> <input type="submit" value="Donate!"><br />
            </form>
          </li>
          {% if isstaff %}
          <li>
            <h4>Administrative miscellany</h4>
            <a href="/addstudent/">Add a student</a><br />
            <a href="/addproject/">Add a project</a><br />
            <a href="/addorganization/">Add a partner organization</a><br />
            <a href="/admin/approve/">Approve a student or project</a><br />
            <a href="/markfellow/">Make a user become marked as a fellow</a><br />

            <h4>Stats to view/download (can be kind of slow)</h4>
            <a href="/donorstats/">View donor stats and emails addresses</a><br />
            <a href="/recipientstats/">recipient stats/finances</a><br />
            <a href="/partnerstats/">partner stats/finances</a><br />
          </li>
          {% endif %}
        </ul>
      </div><!-- .widget-content -->
    </div><!-- .widget -->
    
    <div class="widget widget-alt my-wallet">
      <div class="widget-content clearfix">
        <h4 class="widget-title">My Wallet <em>Your Balance: <strong>${{balance}}</strong></em></h4>
        <div class="wallet-content">
          <h6>Pledged <span>You have used <strong>${{output}}</strong> of your <strong>${{input}}</strong> pledge.</span></h6>
          <div class="progress" data-raised="{{output}}" data-needed="{{input}}"> </div>
          <h6>Gift Cards <span>You have given <strong>${{gcsend}}</strong> and received <strong>${{gcrecv}}</strong> in gift cards.</span></h6>
        </div>
        <div class="add-to-wallet" style="text-align: center;">
          <form method="POST" action="/walletadd/">
            $<input type="text" name="quantity" size="5" value="50" />
            <!--input type="submit" value="Add" /-->
            <button value="Add" class="button button-cta">Add Money <br />To My Wallet</button>
          </form>
          <a href="/who-we-are/faq/">What is my Wallet?</a>
          <a href="/giv-now/">Find Students and Projects to Fund.</a>
        </div>
      </div><!-- .widget-content -->
    </div><!-- .widget -->
    
    <div class="widget widget-alt my-impact">
      <div class="widget-content">
        <h4 class="widget-title">My Impact</h4>
        <ul>
          <li><strong>${{impacto.dollars}}</strong> Total Impact <span>in</span></li>
          <li><strong>{{impacto.npayments}}</strong> Donations <span>to</span></li>
          <li><strong>{{impacto.studs}}</strong> Students <span>and</span></li>
          <li><strong>{{impacto.projs}}</strong> Projects <span>plus</span></li>
          <li><strong>{{volunteer_total_hours}}</strong> Volunteer hrs</li>
        </ul>
      </div><!-- .widget-content -->
    </div><!-- .widget -->
    
    <!--div class="widget donation-chart">
      <div class="widget-content clearfix">
        <h4 class="widget-title"><span>My Volunteer Hours <sub>(to date)</sub></span> <span>100 hrs</span></h4>
        <div id="total-hours-donated"></div>
      </div>
    </div-->
    
    <section class="profile-element donations-students">
      <h3 class="section-title">Donations Made to Students</h3>
      <ul>
        {% for rec in recs %}
        <li>
          <article class="donation-detail clearfix">
            <div class="profile-meta">
              <div class="profile-thumb">
                <div class="donations-students-profile-thumb-img"
                  style="background: #e9e9e9 url('{{rec.picurl57}}') no-repeat scroll center;">
                </div>
              </div>
              <span class="profile-name"><a href="{{rec.url}}">{{rec.name}}</a></span>
              <span class="profile-location">{{rec.location}}</span>
            </div>
            <div class="donation-meta">
              <div class="progress" data-given="{{rec.my_given}}" data-raised="{{rec.grant_have_total}}" data-needed="{{rec.grant_want_total}}"> </div>
              <ul>
                <li class="donation-given"><strong>${{rec.my_given}}</strong> Given</li>
                <li class="donation-impact"><strong>{{rec.my_given_percent}}%</strong> My Impact</li>
                <li class="donation-raised"><strong>${{rec.grant_have_total}}</strong> Raised</li>
                <li class="donation-needed"><strong>${{rec.grant_want_total}}</strong> Needed</li>
                <li><a href="{{rec.url}}" class="button button-cta">GIV Now</a></li>
              </ul>
            </div>
          </article>
        </li>
        {% endfor %}
      </ul>
      <div class="button-container"><a class="view-more" href="#">View More</a><a class="view-less" href="#">View Less</a></div>
    </section>
    
    <section class="profile-element volunteer-hours">
      <h3 class="section-title">My Volunteer Hours</h3>
      <ul>
        {% for vw in volunteerworks %}
        <li>
          <article class="volunteer-detail">
            <span class="volunteer-date">{{vw.when_date_str}}</span>
            <span class="volunteer-description"><strong>{{vw.minutes}} minutes</strong> volunteering by <strong>{{vw.action}}.</strong></span>
          </article>
        </li>
        {% endfor %}
      </ul>
      <div class="button-container"><a class="view-more" href="#">View More</a><a class="view-less" href="#">View Less</a></div>
    </section>
    
  </section>

  <aside>
    <div class="widget widget-alt general invite-friends">
      <h3 class="widget-title">Invite Friends</h3>
      <div class="widget-content">
        <p>Invite friends to be a part of Givology and make an impact today!</p>
        <form action="/invite-friends-action/" method="POST">
          <label for="recipients">Enter a Friend's Email:</label>
          <input type="text" class="text" name="recipients" id="friends-email" />
          <!--p>or <a href="#">Find Friends on Gmail</a></p-->
          
          <label for="msg">Enter a Message:</label>
          <textarea name="msg" id="friends-message"></textarea>
          
          <button type="submit" class="submit button" value="Send">Send!</button>
        </form>
      </div><!-- .widget-content -->
    </div><!-- .widget -->
    
    <div class="widget widget-alt profile-listing recent-updates">
      <h3 class="widget-title">Recent Updates</h3>
      <div class="widget-content">
        <ul class="profiles">
          {% for post in newblogs %}
          <li class="profile">
            <div class="profile-thumb">
              <div class="profile-thumb-img" style="background: #e9e9e9 url('{{post.authorimg}}') no-repeat scroll center;">
              </div>
              <!--
              <img src="{{post.authorimg}}" alt="{{post.authorname}}">-->
            </div>
            <span class="profile-name"><a href="{{post.url}}">{{post.authorname}}</a></span>
            <span class="subject"><a href="{{post.url}}">{{post.subject}}</a></span>
          </li>
          {% endfor %}
        </ul>
      </div><!-- .widget-content -->
    </div><!-- .widget -->
    
    <!--div class="widget widget-alt profile-listing interesting">
      <h3 class="widget-title">Interesting Projects/Students</h3>
      <div class="widget-content">
        <ul class="profiles">
          <li class="profile">
            <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
            <span class="profile-name"><a href="/profile-detail.html">Chun Mao</a></span>
            <span class="profile-amount"><strong>$225</strong> of <strong>$250</strong> Funded</span>
          </li>
          <li class="profile">
            <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
            <span class="profile-name"><a href="/profile-detail.html">Chun Mao</a></span>
            <span class="profile-amount"><strong>$225</strong> of <strong>$250</strong> Funded</span>
          </li>
          <div class="button-container">
            <a href="#" class="view-more">View More</a>
          </div>
        </ul>
      </div>
    </div-->
    
  </aside>
</div>
{% endblock %}
