{% extends "giv/templates/main" %}

{% block mainbody %}
		<div id="container" class="who-we-are sidebar-right clearfix">
			<section role="main" id="content-main">
				<h2 id="page-title">Get Involved</h2>
				<article>
					<div class="article-content">
						<h1>Small hours aggregate into a powerful force for change.</h1>
						<p>As a 100% volunteer-run organization, the key to our impact has been our incredible team. Unlike other volunteer opportunities, joining the Givology team gives you hands-on experience and real responsibility in managing projects, thinking creatively, meeting other inspired people, and making a difference. Whether you choose to volunteer, intern, start a Givology chapter in your local community, or go abroad as one of our fellows, your time is one of the most valuable resources you can give. </p>
						
								
					</div>
				</article>

			</section>
			<aside>
							
				<iframe width="448" height="251" src="http://www.youtube.com/embed/Rp2B_gb1cSg?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
			</aside>
		</div>

		<nav id="tertiary">
			<ul>
				<li><a href="/get-involved/start-chapter/">Start a Chapter</a></li>
				<li><a href="/get-involved/volunteer/">Volunteer</a></li>
				<li><a href="/get-involved/internships/">Internships</a></li>
				<li><a href="/get-involved/fellowships/">Fellowships</a></li>
				<li><a href="/get-involved/spread-the-word/">Spread the Word</a></li>
				</ul>
		</nav>

{% include "sub-support-givology.html" %}
{% endblock %}
