<html>
<head>
</head>
<body>

<p>Thank you for spreading the gift of giving!</p>

<p>You should receive an email containing the gift certificate momentarily.  If you specified the recipient's email address, he or she will receive an email as well.  Alternatively, you may print this page (File-&gt;Print), cut out the certificate, and deliver it in person or by mail.</p>

<p>Note that when printing, you should select the options to include background colors and background images.</p>

<form>
<input type="button" value="Print This Page" onClick="window.print()" />
</form>

<br /><br />

{% include tmpl %}



</body>
</html>
