{% extends "giv/templates/main" %}

{% block mainbody %}

<div id="container" class="clearfix sidebar-right profile-listing">
  <section role="main" id="content-main">
    <h2 id="page-title">GIV to Projects</h2>
    <article>
      <div class="article-content">
        <p>We focus on high-impact grassroots education projects. Our partners define their most urgent funding priorities and with your support, these programs help thousands of students and their communities. From library construction, teacher training, and classroom refurbishment to school lunch programs, extracurricular enrichment, and technology programs, we focus on projects that are sustainable and innovative. Check each individual project’s blog to see recent updates, photos, and videos.</p>
      </div>
    </article>
    <section>
      <h3 class="section-heading">Projects</h3>
      <section class="filters">
        <form action="">
        <div class="profile-search">
          <label for="profile-search-text">Search for Projects</label>
          <input id="profile-search-text" type="text" name="name" value="{{name}}" />
          <input type="submit" />
        </div>
        <div class="profile-sort">
          <p>Showing <strong>{{numshown}}</strong> projects of <strong>{{numresults}}</strong> projects found by search</p>
        </div>
        <div class="profile-filter">
          <select name="country">
            <option value="">Country</option>
            {% for opt in countries %}
            <option value="{{opt}}"{%ifequal opt country%} selected="selected"{%endifequal%}>
              {{opt}}
            </option>
            {%endfor%}
          </select>
          <select name="province">
            <option value="">Region</option>
            {% for opt in provinces %}
            <option value="{{opt}}"{%ifequal opt province%} selected="selected"{%endifequal%}>
              {{opt}}
            </option>
            {%endfor%}
          </select>
          <select name="partner" style="width: 150px;">
            <option value="">Partner Org.</option>
            {% for opt in partners %}
            <option value="{{opt}}"{%ifequal opt partner%} selected="selected"{%endifequal%}>
              {{opt}}
            </option>
            {%endfor%}
          </select>
          {% if completions %}
          <select name="completion">
            <option value="">Funding Status</option>
            {% for opt in completions %}
            <option value="{{opt}}"{%ifequal opt completion%} selected="selected"{%endifequal%}>
              {%if opt%}{{opt}}%{%endif%}
            </option>
            {%endfor%}
          </select>
          {% endif %}
          <button type="submit" class="button">Search</button>
        </div>
        </form>
      </section>

      <section class="filter-results">
        <h4>Your Results:</h4>
      </section><!-- .results -->

      {% include 'widgets/giv-recipients-pagination-section.html' %}
      <ul class="profiles profiles-student">
        <li>
        {% for obj in results %}
          <article>
            <div class="profile-thumb">
              <div class="profile-thumb-img" style="background: #e9e9e9 url('{{obj.picurl}}') no-repeat scroll center;"></div>
            </div>
            <h5 class="profile-title"><a href="{{obj.url}}">{{obj.name}}</a></h5>
            <div class="subtitle">{{obj.location}}</div>
            <div class="progress" data-needed="{{obj.grant_want}}" data-raised="{{obj.grant_have}}">
            </div>
            <div class="button-container">
              <a href="{{obj.url}}" class="button button-cta structured">
                <span>Giv Now</span>
              </a>
            </div>
          </article>
        {% endfor %}
        </li>
      </ul>
      {% include 'widgets/giv-recipients-pagination-section.html' %}
    </section>
  </section>
  
  <aside>
    {% include "giv/templates/widgets/recipient-search-add-wallet.html" %}
    {% include "giv/templates/widgets/recipient-featured-listing.html" %}
  </aside>
</div>
{% endblock %}
