{% extends "giv/templates/main" %}

{% block mainbody %}

<div id="container" class="clearfix sidebar-right profile-listing">
  
  <section role="main" id="content-main">
    <h2 id="page-title">The Power of Teams</h2>
    <p>What's better than donating on Givology? Donating as a team! Forming a Givology giving team is a great way to make an impact! Create teams with other registered users on Givology, and work together to fund student scholarships and education projects. Or, get a group of friends together, form a team, hold fundraisers in your local area, and then track your impact and share your experiences on your team page. Giving teams make it easy to start your own education cause on Givology.</p>
    <br />
    <h3>Teams section under maintenance</h3>
  </section>
<!--
    <article>
<div class="article-content">
  <h1>Have a greater impact. Make your team today.</h1>
</div>
</article>

<section>
<h3 class="section-heading">Teams</h3>
<section class="filters">
<form action="#" class="profile-search">
<label for="profile-search-text">Search for a Team</label><input id="profile-search-text" type="text" />
<input type="submit" />
</form>
						<form action="#" class="profile-sort">
<p><strong>158</strong> Total Teams</p>
<label>Sort by:</label>
<select name="profile-sort-select" id="profile-sort-select">
  <option value="newest">Newest</option>
  <option value="oldest">Oldest</option>
</select>
</form>
<form action="#" class="profile-filter">
<select name="profile-filter-select-option1">
  <option value="">Options</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
<select name="profile-filter-select-option2">
  <option value="">Options</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
<select name="profile-filter-select-option3">
  <option value="">Options</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
<select name="profile-filter-select-option4">
  <option value="">Options</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
<select name="profile-filter-select-option5">
  <option value="">Options</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
<select name="profile-filter-select-option6">
  <option value="">Options</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
<select name="profile-filter-select-option7">
  <option value="">Options</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
<button type="submit" class="button">Search</button>
</form>
</section>

<section class="filter-results">
<h4>Your Results:</h4>
<ul>
  <li><a href="#">10-15 yrs old</a></li>
  <li><a href="#">Female</a></li>
  <li><a href="#">Middle School</a></li>
  <li><a href="#">Halfway There</a></li>
  <li><a href="#">Africa</a></li>
  <li><a href="#">South</a></li>
  <li><a href="#">Organization Name</a></li>
</ul>
</section>

<ul class="profiles profiles-team">
  <li>
  <article>
  <div class="profile-thumb"><img src="http://placehold.it/98x98.jpg" alt="Placeholder" /></div>
  <h5 class="profile-title"><a href="#">University of Pennsylvania</a></h5>
  <div class="subtitle"><strong>25</strong> members</div>
  <div class="profile-excerpt">
    <p><strong>We give because</strong> lorem ipsum dolor sit amet, consectetur adipisicing &hellip;</p>
  </div>
  <div class="profile-meta">
    <strong>$5,140</strong> in <strong>117</strong> donations to <strong>41</strong> students and <strong>11</strong> projects plus <strong>45</strong> volunteer hrs
  </div>
  </article>
  </li>
  <li>
  <article>
  <div class="profile-thumb"><img src="http://placehold.it/98x98.jpg" alt="Placeholder" /></div>
  <h5 class="profile-title"><a href="#">University of Pennsylvania</a></h5>
  <div class="subtitle"><strong>25</strong> members</div>
  <div class="profile-excerpt">
    <p><strong>We give because</strong> lorem ipsum dolor sit amet, consectetur adipisicing &hellip;</p>
  </div>
  <div class="profile-meta">
    <strong>$5,140</strong> in <strong>117</strong> donations to <strong>41</strong> students and <strong>11</strong> projects plus <strong>45</strong> volunteer hrs
  </div>
  </article>
  </li>
</ul>
<ul class="profiles profiles-student">
  <li>
  <article>
  <div class="profile-thumb"><img src="http://placehold.it/98x98.jpg" alt="Placeholder" /></div>
  <h5 class="profile-title"><a href="#">Victor Ouma</a></h5>
  <div class="subtitle">Nairobi Kenya</div>
  <div class="progress" data-needed="4,500" data-raised="4,000"> </div>
  <div class="button-container"><a href="#" class="button button-cta">Giv Now</a></div>
  </article>
  </li>
  <li>
  <article>
  <div class="profile-thumb"><img src="http://placehold.it/98x98.jpg" alt="Placeholder" /></div>
  <h5 class="profile-title"><a href="#">Efrain Lugo Junior</a></h5>
  <div class="subtitle">Nairobi Kenya</div>
  <div class="progress" data-needed="4,500" data-raised="3,000"> </div>
  <div class="button-container"><a href="#" class="button button-cta">Giv Now</a></div>
  </article>
  </li>
</ul>
<ul class=" profile-element donors">
  <li>
  <article class="donor">
  <div class="profile-thumb"><img src="http://placehold.it/98x98.jpg" alt="Placeholder"></div>
  <span class="profile-name">Lisa Zhang</span>
  <span class="profile-location">Albuquerque, NM</span>
  <ul>
    <li><strong>$150</strong> Pledged</li>
    <li><strong>$450</strong> Total Donated</li>
    <li><strong>50 <span>hrs</span></strong> Volunteered</li>
    <li><strong>2003</strong> Donor Since</li>
  </ul>
  </article>
</li>
<li>
<article class="donor">
<div class="profile-thumb"><img src="http://placehold.it/98x98.jpg" alt="Placeholder"></div>
<span class="profile-name">Lisa Zhang</span>
<span class="profile-location">Albuquerque, NM</span>
<ul>
  <li><strong>$150</strong> Pledged</li>
  <li><strong>$450</strong> Total Donated</li>
  <li><strong>50 <span>hrs</span></strong> Volunteered</li>
  <li><strong>2003</strong> Donor Since</li>
</ul>
</article>
</li>
</ul>
</section>

</section>

<aside>
<div class="widget general create-team">
<div class="widget-content">
  <h4 class="subtitle">Create a Team Today</h4>
  <p>Creating teams make it easy to stat your own educatoin cause on Givology</p>
<div class="button-container"><a href="#" class="button">Start a Team Now</a></div>
</div>
</div>

<div class="widget featured">
  <h3 class="widget-title">Featured Team</h3>
<div class="widget-content">
<div class="featured-meta">
<div class="featured-thumb"><img src="http://placehold.it/98x98.jpg" alt="Placeholder"></div>
<h4 class="featured-title"><a href="/profile-detail.html">Rehabilitating Former Street Children</a></h4>
<span class="featured-location">Nairobi, Kenya</span>
<span class="amount-donated"><strong>$225</strong> of <strong>$250</strong> Donated</span>
</div>
<div class="featured-info">
  <p>The Turning Point Trust works to prevent and rehabilitate street-children within Africa's largest slub: Kibera, Kenya. &hellip; <a href="#" class="read-more">Read More</a></p>
</div>
</div>
</div>

<div class="widget profile-listing recent-donors">
  <h3 class="widget-title">Recent Donors</h3>
<div class="widget-content">
  <ul class="profiles">
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Christine Dickey</a></span>
    <span class="profile-amount"><em>Donated</em> <strong>$25</strong> to</span>
    <span class="profile-project"><a href="profile-detail.html">Project Name Here</a></span>
    </li>
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Christine Dickey</a></span>
    <span class="profile-amount"><em>Donated</em> <strong>$25</strong> to</span>
    <span class="profile-project"><a href="profile-detail.html">Project Name Here</a></span>
    </li>
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Christine Dickey</a></span>
    <span class="profile-amount"><em>Donated</em> <strong>$25</strong> to</span>
    <span class="profile-project"><a href="profile-detail.html">Project Name Here</a></span>
    </li>
  </ul>
</div>
</div>

<div class="widget profile-listing newest-donors">
  <h3 class="widget-title">Newest Donors</h3>
<div class="widget-content">
  <ul class="profiles">
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Christine Dickey</a></span>
    <span class="profile-amount"><em>I pledged</em> <strong>$25</strong></span>
    </li>
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Christine Dickey</a></span>
    <span class="profile-amount"><em>I pledged</em> <strong>$25</strong></span>
    </li>
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Christine Dickey</a></span>
    <span class="profile-amount"><em>I pledged</em> <strong>$25</strong></span>
    </li>
  </ul>
</div>
</div>

<div class="widget featured">
  <h3 class="widget-title">Featured Student</h3>
<div class="widget-content">
<div class="featured-meta">
<div class="featured-thumb"><img src="http://placehold.it/98x98.jpg" alt="Placeholder"></div>
<h4 class="featured-title"><a href="/profile-detail.html">Rehabilitating Former Street Children</a></h4>
<span class="featured-location">Nairobi, Kenya</span>
<span class="amount-donated"><strong>$225</strong> of <strong>$250</strong> Donated</span>
</div>
<div class="featured-info">
  <p>The Turning Point Trust works to prevent and rehabilitate street-children within Africa's largest slub: Kibera, Kenya. &hellip; <a href="#" class="read-more">Read More</a></p>
</div>
</div>
</div>

<div class="widget profile-listing recent-updates">
  <h3 class="widget-title">Recently Funded</h3>
<div class="widget-content">
  <ul class="profiles">
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Chun Mao</a></span>
    <span class="profile-amount"><strong>$225</strong> of <strong>$250</strong> Funded</span>
    </li>
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Chun Mao</a></span>
    <span class="profile-amount"><strong>$225</strong> of <strong>$250</strong> Funded</span>
    </li>
    <li class="profile">
    <div class="profile-thumb"><img src="http://placehold.it/56x55.jpg" alt="Placeholder"></div>
    <span class="profile-name"><a href="/profile-detail.html">Chun Mao</a></span>
    <span class="profile-amount"><strong>$225</strong> of <strong>$250</strong> Funded</span>
    </li>
  </ul>
</div>
</div>

</aside>
-->
</div>
{% endblock %}
