{% extends "giv/templates/main" %}

{% block mainbody %}

		<div id="container" class="clearfix sidebar-right how-it-works">
			<section role="main" id="content-main">
				<h2 id="page-title">How It Works</h2>
				<article>
					<div class="article-content">
						<h1>How can one person make a difference?</h1>
						<p>Even though you may be oceans away, you have an opportunity to change the life of a child and his or her community. Not only is education a basic human right, but it breaks intergenerational chains of poverty, improves health outcomes, spurs economic growth, combats gender inequality, empowers choice, and promotes peace globally. </p>
						<p>We started Givology with the philosophy that small dollars and small volunteer hours aggregate into a powerful force for change. We wanted to create an online community where personal connections really matter and that regardless of the size of our donation, we'd get regular updates, full transparency, and maximum impact per dollar spent. Here's how Givology works:</p>
						
						<ol>
							<li>
								<h2>Browse</h2>
							<p>Once you register for an account, check out the different student and project profiles on Givology. With our background in international development, we seek out partnerships with grassroots education organizations and post their highest priority funding needs. We only select partners that meet our strict standards for impact evaluation, deep relationships with the community, local hands-on focus, proven track record, and innovation. That way, we provide our Givology community with pre-screened causes that effectively deliver change every day. </p>
							</li>
							
							<li>
								<h2>Give</h2>
							<p>Once you add money to your Givology wallet, you can allocate it to the different education projects and scholarships that resonate with you. Our dashboard makes it easy for you to track your impact portfolio and monitor for updates.  For special occasions, consider giving a customizable gift certificate to your loved ones, or buying Givology merchandise in which 100% of profits go to our projects and students. </p>
								
							</li>
							<li>
								<h2>Interact</h2>
							<p>Our mission is to make giving interactive - to create a community and full experience around giving. Through our messaging function, you can send a letter to our students which we translate and deliver. In the regular updates that we receive and post online, you'll find that our students often respond! We encourage you to blog about your experience and join a Giving Team. Through your dashboard, you can log your volunteer hours for Givology, post updates to your social media networks, and track your impact over time. Moreover, we hope that you consider starting a Givology chapter in your local community or considering joining our team to help us make our organization even better.</p>
							</li>
						</ol>

						<h2>Our Impact Summary</h2>
						<p>We started Givology when we were students at the University of Pennsylvania. Since our launch in 2008, we've raised more than $300,000 to help over 2,800+ students in 26 countries through 46 grassroots partnerships. With more than 2,600 donors, 90 global volunteers, 11 chapters globally, and 30 core team members, Givology pioneers a new model of "crowd-sourcing" philanthropy to make the largest impact at the lowest cost. As a 100% volunteer-driven organization, we received the Intelius Award for "Best Student-Run Social Enterprise", "Top Education Non-profit" by GreatNonprofits, "Technology in Education" prize by Education Without Borders, Ford Focus Finalist, as well as being featured in Nicholas Kristof's inspiring book Half the Sky, Vivanista, Knowledge@Wharton, Philadelphia Inquirer, MTVAct, among other print and media sources.</p>
					
					</div><!-- .article-content -->
				</article>
			</section>

			<aside>

                                        
				<div class="widget total-impact">
					<h3 class="widget-title">Total Impact So Far</h3>
					<div class="widget-content">
{% include 'widgets/total-impact-aside-stats.html' %}
						<p>Make an impact today! Help us give the gift of opportunity to students around the world.</p>
						<div class="button-container"><a href="/giv-now/giv-projects/" class="button">GIV to a project</a></div>
						<div class="button-container"><a href="/giv-now/giv-students/" class="button button-cta">GIV to a student</a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->
				
				<div class="widget general field-partners">
					<h3 class="widget-title">Our Field Partners</h3>
					<div class="widget-content">
						<p>Learn more about the mission, history, and impact of our field partners.</p>
						<div class="button-container"><a href="/our-community/field-partners/" class="button">View our Field Partners</a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->

			</aside>
		</div>





{% endblock %}
