{% extends "giv/templates/main" %}

{% block mainbody %}
<div id="container" class="clearfix sidebar-right faq">
  <section role="main" id="content-main">
    <h2 id="page-title">Internships</h2>
	
    <article>
      <div class="article-content">
	  <h1>Lead a project, gain practical skills.</h1>
        <dl>

          <p>An internship at Givology provides hands-on experience in non-profit management and strategy. Interns work closely with members of the Givology executive team, and have the opportunity to gain practical skills in public relations, marketing, communications, fundraising, finance, technology, and social media, among other functions. Given our 100% volunteer philosophy, we give interns a unique opportunity to lead a project and to come up with creative solutions to help us achieve our mission. In addition, interns who excel in the program have an opportunity to join Givology as a permanent member of our team.  </p>
		  
		  <p><b>Logistics</b>: The internship has a minimum duration of three weeks, with an expected contribution of at least 10 hours per week. There is no commitment to travel to an office - the internship can be done completely online with flexible hours to accommodate your school/work schedule. Nevertheless, you will be expected to maintain regular contact with your project leader via e-mail, telephone, and our weekly conference calls in which interns present their progress and findings for team review.  If you're located close to the Givology team or the venue for upcoming events, we may request that you work with us in person. The internship is an unpaid, volunteer-based position designed to increase Givology's impact as well as provide you with an in-depth experience into the strategic thinking and responsibilities involved in operating an online non-profit. There is no minimum age requirement, but a pro-active attitude and a willingness to learn are a must! </p>
		  
		   <p><b>Application process</b>: Applications are accepted on a rolling basis, and should be sent to <a href="mailto:info@givology.org">mailto:info@givology.org</a>. Once your application has been received, a Givology team member will contact you for a short interview to discuss your interests, project preferences, and logistics. If your application is successful, you'll be assigned a project leader with whom you'll work closely. We'll provide training and a full onboarding program to help you get started. </p>
		  
			<p>We have two internship tracks available: (1) Development internship, (2) Research internship</p>
					  
		  <h1>Development Internship</h1>
		  
		  <p>Development interns gain exposure to non-profit operations and assist the Givology team in marketing, social media, campaign management, education advocacy, community outreach, finance among other roles. The development internship provides practical business skills and a hands-on experience in operating Givology. Develop interns will be matched with a project leader from Givology, and will collaborate closely together. Intern projects span the fields of: </p>
		  <br>
		  <ul>
		  <li><b>Social media</b>: helping us manage @Givology on Facebook, Twitter, Linked-in with engaging and interesting content to engage our followers</li>
		  <li><b>Marketing</b>: working with our marketing team to publicize Givology-wide campaigns and to increase awareness of our organization</li>
<li><b>Public relations</b>: drafting press releases, reaching out to local media, filming Givology videos, and identifying potential media partners for Givology</li>
<li><b>Media/Newsletter</b>: writing articles for our bi-weekly newsletter, along with editorials related to our monthly education theme (ex: "mobile technology solutions for education in the developing world")</li>
<li><b>Fundraising/events</b>:  handling logistics and details for Givology sponsored events, managing the Givology calendar</li>
<li><b>Finance</b>: working with our CFO to prepare our financial statements and budgets</li>
<li><b>Chapters management</b>: assisting our chapters coordinators in supporting the activities for our global chapters, communicating with chapter leaders to discuss progress and next steps, identifying potential new chapters and helping them get started</li>
<li><b>Online strategy/analytics</b>: Monitoring our website traffic and measuring the success of our campaigns through Google analytics, helping us improve search engine optimization (SEO) </li>
<li><b>Campaign management/special projects</b>: assisting with a myriad of Givology-wide campaigns including #EducationGives, 60 second videos, the launch of our new Givology product line, and working with the Givology publishing team, among other activities</li>
</ul>

<p>Unlike conventional internship experiences, Givology interns get real responsibility to lead a project from start to finish and to make their own imprint on our organization, with the full support of their mentor and the Givology team. </p>
		  
		  <h1>Research Internship</h1>
		
<p>Research interns help us with managing communications and updates from our partners to our community, identifying high impact grassroots causes to support, and conducting research related to impact evaluation in education. Responsibilities include: </p>
<br>
<ul>
<li><b>Potential partner identification</b>: Conducting extensive research through development communities to identify innovative high-impact education NGOs and schools that Givology should potentially bring into our network</li>
<li><b>Editorials for education and secondary research</b>: blogging on Givology on issues related to access to quality education, writing editorials for our newsletter to inform our donors about impact evaluation, innovative and cost effective education initiatives, and our monthly education theme (ex: "educating girls") </li>
<li><b>Partnership management</b>: Posting student and project updates to our website, reaching out to partners to receive scheduled updates and sending them packets of letters from our donors. Research interns play a critical role in controlling the quality of the updates that we receive for full transparency to our community of donors</li>
<li><b>Translation</b>: (for those with language skills) translating project and student profiles and updates that we receive</li>
</ul>		
						
						
						
						
						</dl>
					</div>
				</article>
			</section>

			<aside>

				<div class="widget general become-partner">
					<h3 class="widget-title">Download Application</h3>
					<div class="widget-content">
						<p>Join our team as an intern! Please complete the application and send to us at <a href="mailto:info@givology.org">info@givology.org</a> along with your resume and cover letter.</p>
						<div class="button-container"><a href="/static/internship_application.doc" class="button">Internship Application</span></a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->


			</aside>
		</div>




{% endblock %}
