{% extends "giv/templates/main" %}

{% block mainbody %}

		<div id="container" class="clearfix sidebar-right how-it-works">
			<section role="main" id="content-main">
				<h2 id="page-title">Vision and Mission</h2>
				<article>
					<div class="article-content">
						<h1>Give to  learn, learn to give.</h1>
											
						<ol>
							<li>
								<h2>Vision</h2>
							<p>Globally, nearly 1 out of every 5 children of primary-school age are not in school, 40% of secondary-age children don't attend school, and even more do not have the opportunity to pursue higher education. Poverty is a principal cause. Often times, families have trouble affording school fees and supplies, or may simply need their children to contribute to household income. In addition, the poor quality of local schools may make the benefit of education appear elusive.   </p>
							<p><b>At Givology, our vision is to make quality education accessible for all children</b>. We believe that education is the single most important and sustainable resource for individual empowerment, community advancement, and poverty alleviation. Through our network of grassroots partnerships, we strive to connect our network of donors with innovative, high-impact projects and scholarships that can transform local communities one at a time. </p>
							
							</li>
							<li>
								<h2>Mission</h2>
							<p>As a 100% volunteer-run organization, Givology is an online giving marketplace that aggregates small dollar donations and small volunteer hours into a powerful force for change. Through our network of grassroots partnerships, we link our donors with high-impact education such as teacher training, library construction, textbook purchases, student sponsorship, among other activities. In particular, we emphasize transparency and impact monitoring - through our web interface, our donors can receive regular updates, send letters to our students, blog about their experiences, connect with other donors, and learn about education policy globally. Our philosophy is "Give to Learn, Learn to Give" - every person has a responsibility to the world and has something powerful to offer. In particular we aspire to: </p>
									
						<p>- <b>Create an online community for giving</b> - to connect our donors to high-impact pre-screened investments in education
						<br>- <b>Identify transformational grassroots education organizations</b> to bring into our network and facilitate information-sharing of best practices
						<br>- <b>Raise funding and support</b> for our partnership network through online and offline channels
						<br>- <b>Spread awareness and generate research</b> about effective education initiatives globally
						<br>- <b>Promote cross-cultural relationships</b> through blogging, messaging, and social media
						<br>- <b>Crowd source impact</b> to make the largest impact at the lowest cost through our volunteer base</p>
						</ul>
						
						<p>Since our launch in 2008, we've raised more than $300,000 to help over 2,800+ students in 26 countries through 46 grassroots partnerships. With more than 2,600 donors, 90 global volunteers, 11 chapters globally, and 30 core team members, Givology pioneers a new model of "crowd-sourcing" philanthropy to make the largest impact at the lowest cost. As a 100% volunteer-driven organization, we received the Intelius Award for "Best Student-Run Social Enterprise", "Top Education Non-profit" by GreatNonprofits, "Technology in Education" prize by Education Without Borders, Ford Focus Finalist, as well as being featured in Nicholas Kristof's inspiring book Half the Sky, Vivanista, Knowledge@Wharton, Philadelphia Inquirer, MTVAct, among other print and media sources.</p>
						</li>
											
						</ol>

					
					
					</div><!-- .article-content -->
				</article>
			</section>

			<aside>

				<div class="widget total-impact">
					<h3 class="widget-title">Total Impact So Far</h3>
					<div class="widget-content">
{% include 'widgets/total-impact-aside-stats.html' %}
						<p>Make an impact today! Help us give the gift of opportunity to students around the world.</p>
						<div class="button-container"><a href="/giv-now/giv-projects/" class="button">GIV to a project</a></div>
						<div class="button-container"><a href="/giv-now/giv-students/" class="button button-cta">GIV to a student</a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->
				
				<div class="widget general field-partners">
					<h3 class="widget-title">Our Field Partners</h3>
					<div class="widget-content">
						<p>Learn more about the mission, history, and impact of our field partners.</p>
						<div class="button-container"><a href="/our-community/field-partners/" class="button">View our Field Partners</a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->

			</aside>
		</div>





{% endblock %}
