{% extends "giv/templates/main" %}

{% block mainbody %}

<a href="/images/Givology Party Flier Final-1.jpg">
	<img src="/images/Givology Party Flier Final-3.jpg"
	   style="float: right; width: 205px; height: 410px; margin: 0px 20px;" />
</a>

<div style="font-size: 24px;">
	Givology NYC Launch @ Marquee
</div>
<div style="font-size: 18px;">
	Saturday, August 15, 2009 from 8:00 PM - 11:00 PM (ET)
</div>

<p>
Tickets are now on sale for our inaugural NYC launch at Marquee on
Sat, Aug 15th!
</p>

<div style="font-size: 18px;">
	Details:
</div>

<ul>
	<li>Saturday , August 15, 2009</li>
	<li>3 hour OPEN BAR (sponsored by DIAGEO) at Marquee (289 Tenth Ave., NYC), 8 – 11 PM</li>
	<li>General Admission: $50, purchase before Noon on August 15</li>
	<li>First 100 people will receive free gift bags</li>
	<li>At the door: $75</li>
	<li>
		VIP (gift bag included and exclusive networking session with
		notable guests):
		<ul>
			<li>$100: Sponsor 50 children in a nutritious lunch program in rural Kenya for 1 month</li>
			<li>$150: Provide training for teachers in Gansu, China to help over 30 students</li>
			<li>$250: Help create after-school programs for 60 children in Bihar, India</li>
			<li>$500: Support refurbishing of a 400-student primary school in Rio de Janeiro, Brazil</li>
		</ul>
	</li>
	<li>

		Silent auction Items donated from Marc Jacobs, Polo Ralph Lauren,
		Ruby Streak Trapeze Studio, Shoba Salon, Veritas Prep (GMAT),
		Princeton Review, D-Dojo: The School of Modern Japanese Karate,
		Pico Family Chiropractic, Ashleigh Holden Designs and other
		well-known retailers and local businesses.
	
	</li>
</ul>

<p>
	
	<b>Can't make it?</b> We understand Saturday night may already be booked in your calendar, but you can still <a href="/sponsorships/">show your support</a> or <a href="/donate/">donate to a specific cause</a>.
	
</p>

<iframe src="http://www.eventbrite.com/tickets-external?eid=386469942&ref=etckt"
     height="450"
  allowtransparency="true"
    style="width: 100%; border-width: 0px;">
</iframe>
<a href="http://www.eventbrite.com/r/etckt">
	<img src="http://www.eventbrite.com/s.gif" alt="Events"
	  border="0"/>
</a>


{% endblock %}
