{% extends "giv/templates/main" %}

{% block mainbody %}
		<div id="container" class="who-we-are sidebar-right clearfix">
			<section role="main" id="content-main">
				<h2 id="page-title">Our Community</h2>
				<article>
					<div class="article-content">
						<h1>Interact, discuss, and learn about our grassroots partners.</h1>
						<p>We care a lot about creating a community around giving - to make the experience more rewarding and participatory than just simply cutting a check. In our community section, you can join a giving team to reach a goal together, connect with other donors, and read about our grassroots partners and their activities globally. </p>
					</div>
				</article>

			</section>
			<aside>
						<iframe width="448" height="251" src="http://www.youtube.com/embed/1BjBnWo1NsI?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
			
			</aside>
		</div>

		<nav id="tertiary">
			<ul>
				<li><a href="/our-community/our-donors/">Our Donors</a></li>
				<li><a href="/our-community/field-partners/">Our Field Partners</a></li>
				<li><a href="/our-community/giving-teams/">Join a Giving Team</a></li>
				
			</ul>
		</nav>

{% include "sub-support-givology.html" %}

{% endblock %}
