{% extends "giv/templates/main" %}

{% block mainbody %}

		<div id="container" class="clearfix sidebar-right how-it-works">
			<section role="main" id="content-main">
				<h2 id="page-title">Start a Chapter</h2>
				<article>
					<div class="article-content">
						<h1>Your community, your way, your impact.</h1>
						
						<p>Givology chapters are affiliated groups that work closely with our team to make a difference in their local communities. Often taking the form of school clubs or independent volunteer groups, Givology chapters recruit volunteers, establish their annual goals, hold fundraising and awareness building events in their local community, and serve as ambassadors of Givology. Our chapters are core to our strength - we rely on our chapters to raise funding through events, spread awareness about our education causes, brainstorm and execute creative campaigns, and help us connect with more people. Starting a Givology chapter is a powerful way to make an impact and inspire your community to act! If you have any questions about getting started, please e-mail <a href="mailto:info@givology.org">info@givology.org</a>.</p>
						
						<ol>
							<li>
								<h2>Who can start a chapter? How do I join an existing chapter?</h2>
							<p>Anyone can start a chapter! Typically, chapters take the form of extracurricular school clubs or volunteer groups that meet outside of work. Chapters elect their President, Vice President, Treasurer, Outreach Coordinator, Fundraising Coordinator, among other roles, and set their annual goals together. Starting a chapter is a great way to have fun with friends and make a difference, while joining a chapter is a terrific opportunity to meet new people and get engaged with your local community.</p>
							<p>Click here to see a list of our current chapters and check to see if there's a Givology chapter in your area. If you have any questions, please don't hesitate to contact us at <a href="mailto:info@givology.org">info@givology.org</a>. </p>
							</li>
							
							<li>
								<h2>How do I go about starting a chapter?</h2>
							<p>To get started, download our guidebook to learn more about how our chapters work, and then simply fill out an application. Our team will be in touch shortly to discuss your plans and support your work! We'll walk you through the basics of rallying your local community and help you launch your chapter. </p>	
							
							</li>
							<li>
								<h2>How does a Givology chapter work?</h2>
							<p>Our Givology chapters work closely with our team to raise awareness and funding in their local communities by holding meetings after school or work. In addition, through regular conference calls, Givology chapter leaders collaborate with each other as well as our team to plan coordinated events and campaigns, exchange ideas, and learn from each other. Givology chapter members and leaders have the opportunity to educate, inspire and motivate others to improve access to quality education. </p>
							
							<p><b>Fundraising</b>: Chapters plan creative fundraising events to support Givology-sponsored education initiatives and student scholarships. We've had so many terrific chapter-led events over the years, from open bar nights and dance-a-thons to international food nights, silent auctions, and penny drives. Check out our chapters guidebook and activities manual for more ideas. </p>

<p><b>Marketing and Outreach (Education Advocacy)</b>: Chapters help us spread awareness by holding donor registration drives, educational speaker events on issues related to education in the developing world, recruitment of chapter members and volunteers, social media campaigns to inform their local communities, among other activities to mobilize and educate others.  Chapters also participate in Givology-wide campaigns such as our "Meaning of Giving" initiative and our letters campaign for students, as well as film YouTube videos, write blog posts, and hold events related to our mission. </p>

<p><b>Blogging and Community</b>: Our chapters re-cap their meetings, events, and overall impact through blogging. In addition, chapter members actively blog about their experiences and research related to education in the developing world, which gets aggregated into our central blog.  Each chapter has their own Giving Team which allows them to track their impact over time!</p> 

<p>These are just a few of the functions that chapters carry out. Check out the chapters guidebook for more ideas, or get in touch if you have any particular requests or areas of interest.</p>   

													
							
							</li>
						</ol>

					</div><!-- .article-content -->
				</article>
			</section>

				<aside>

				
				
				<div class="widget general field-partners">
					<h3 class="widget-title">Downloads for Chapters</h3>
					<div class="widget-content">
						<p>Download our chapters guidebook, application form, and annual action plan to get started!</p>
						<div class="button-container"><a href="/static/chapter_guidebook.docx" class="button">Chapters Guidebook</a></div>
						
						<div class="button-container"><a href="/static/chapter_proj.doc" class="button">Annual Action Plan</a></div>
						<div class="button-container"><a href="/static/givchapterapp.docx" class="button">Application Form</a></div>
						
					</div><!-- .widget-content -->
				</div><!-- .widget -->
				
				<div class="widget general field-partners">
					<h3 class="widget-title">Join an Existing Chapter</h3>
					<div class="widget-content">
						<p>Check the list below for our active chapters and join in on our activities!</p>
						<div class="button-container"><a href="https://docs.google.com/spreadsheet/ccc?key=0Ak6nTLwCfFQWdGJxTGRMRGx2cU5TcmdGcEhlb3RqNlE&pli=1#gid=0" class="button" target="_blank">Givology Chapters</a></div>
												
					</div><!-- .widget-content -->
				</div><!-- .widget -->
				
			</aside>
		</div>




{% endblock %}
