{% extends "giv/templates/main" %}

{% block mainbody %}

<div id="container" class="clearfix sidebar-right home">
    <div class="inner">
			<section role="main" id="content-main">
			    <h2 id="page-title">Thank You</h2>
				<article>
					<div class="article-content">

				    <dl>
				        <dt>Transaction Id:</dt>
				            <dd>{{ transaction_id }}</dd>
					    <dt>Donation for:</dt>
					        <dd>{{ fund_target }}</dd>
					    <dt>Amount:</dt>
					        <dd>${{ amount|floatformat:2 }}</dd>
					    <dt>Return link:</dt>
					        <dd><a href="{{ url_referer }}">Return</a></dd>
                    </dl>
                    <p>Thank you for donation.  You will receive an email containing all your details.</p>
					</div>
				</article>
			</section>
	</div>
</div>

<!--
<dl>
	<dt>Transaction Id</dt>
		<dd>{{ transaction_id }}</dd>
	<dt>Fund target</dt>
	    <dd>{{ fund_target }}</dd>
	<dt>Fund Target Id</dt>
	    <dd>{{ fund_target_id }}</dd>
	<dt>Fund Target Type</dt>
	    <dd>{{ fund_target_type }}</dd>
	<dt>Funder Id</dt>
	    <dd>{{ funder_id }}</dd>
	<dt>Amount</dt>
	    <dd>{{ amount }}</dd>
</dl>
//-->



{% endblock %}

{% block googleanalyticsjs %}
{% if isstaff %}
<!-- the "isstaff" flag is on - google analytics tracking omitted --> {% else %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8705765-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '{{ transaction_id }}',
    '{{ funder_id }}',
    '{{ amount }}',
    '',
    '',
    '',
    '',
    ''
    ]);

  _gaq.push(['_addItem',
    '{{ transaction_id }}',
    '{{ fund_target_id }}',
    '{{ fund_target }}',
    '{{ fund_target_type }}',
    '{{ amount }}',
    '1'
    ]);

  _gaq.push(['_trackTrans']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; test
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> 
{% endif %}
{% endblock %}

