I am delighted to notify you that <a href="{{url}}">{{name}}</a> is now fully-funded. Thank you so much for your support! Your contribution makes a profound difference in the lives of many students and their families.

Our next step is to disburse funding to {{name}}. In addition, we will send a welcome package introducing the donors who have contributed to {{name}}, as well as the messages donors have sent through our inbox system. 

At this time, you have the opportunity to send an encouraging letter to the beneficiary school and students of {{name}}. To do so, log-in to your account and click on {{name}}&rsquo;s profile. Under the photo, you will find a &ldquo;Message Me&rdquo; button. 

Your words of encouragement will mean a lot to the students that benefit from {{name}}. 

Ideas for a letter include:

<ul><li>Information about yourself</li>
<li>Encouraging and uplifting messages related to the project</li>
<li>Any inquiries about the project specifics, the beneficiaries of the project, or the use of funds in the project</li>
<li>General advice or thoughts</li>
<li>Updates on {{name}} will be posted to the project blog, which you can view online. Log-in to your account to view details, send another message, check for updates, or log your volunteer hours. Throughout the year, we collect all the messages sent through our system and deliver them to the project team.</li></ul>

Thank you once again for your support of {{name}}!

With Best Regards,

The Givology Team
Learn to Give, Give to Learn
