I am delighted to notify you that <a href="{{url}}">{{name}}</a> is now fully-funded. Thank you so much for your support! Your contribution makes a profound difference in {{name}}&rsquo;s life. 

Our next step is to disburse funding to {{name}}.  In addition, we will send a welcome package introducing Givology and all the donors who have contributed to {{name}}&rsquo;s funding, including the letters sent to {{name}}through our messaging system. 

If you would like to send an additional message at this time, please use our inbox function to send an encouraging letter to {{name}}. To do so, log-in to your account and click on {{name}}&rsquo;s profile. Under the photo, you will find a &ldquo;Message Me&rdquo; button. 

Your words of encouragement will mean a lot to {{name}}!

Ideas for a letter include:

<ul><li>Information about yourself</li>
<li>Encouraging and uplifting messages related to the student&rsquo;s interest and background</li>
<li>Any inquiries about the student&rsquo;s life and how he or she has used the money provided by Givology</li>
<li>General words of advice or encouragement</li>
<li>{{name}}&rsquo;s responses and updates will be posted to the student blog, which you can view online. You can log-in to your account to view details, send another message, log your volunteer hours, or check for updates. Throughout the year, we collect all the messages sent through our system and deliver them. We then post all the responses we receive online.</li></ul>

Thank you once again for your support of {{name}}!

With Best Regards,

The Givology Team
Learn to Give, Give to Learn

