<div class="widget featured">
  <h3 class="widget-title structured"><span>Featured</span></h3>
  <div id="featured-items" class="widget-content" style="height: 263px; width: 272px; ">
    <ul class="bjqs">
    {% for feature in featured_recipients %}
      <li>
        <div class="featured-meta">
          <div class="featured-thumb">
            <div class="featured-img" style="background: #e9e9e9 url('{{feature.picurl}}') no-repeat scroll center;"></div>
          </div>
          <h4 class="featured-title"><a href="{{feature.url}}">{{feature.name}}</a></h4>
          <span class="featured-location">{{feature.location}}</span>
          <span class="amount-donated"><strong>${{feature.grant_have}}</strong> of <strong>${{feature.grant_want}}</strong> Donated</span>
        </div>
        <div class="featured-info">
          <p>{{feature.brief_summary}}</p>
        </div>
        <div class="button-container">
        {% if feature.isstudent %}
          <a href="/giv-now/giv-students/" class="button button-cta">
            View More Students
          </a>
        {% else %}
          <a href="/giv-now/giv-projects/" class="button button-cta">
            View More Projects
          </a>
        {% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>
  </div><!-- .widget-content -->
</div><!-- .widget -->
