<div class="widget general">
  <div class="widget-content">
    {% if clientisdonor %}
    <h4 class="subtitle">Add to your wallet</h4>
    <p>Your current balance: ${{balance}}</p>
    <form method="POST" action="/walletadd/">
      $<input type="text" name="quantity" size="5" value="50" />
      <input type="submit" value="Add" />
    </form>
    <a href="#">What is my Wallet?</a>
    {% else %}
    <h4 class="subtitle">How it works</h4>
    <p>Step 1: <a href="/login/">Log in</a> or <a href="/register/">register</a></p>
    <p>Step 2: Add money to your virtual wallet</p>
    <p>Step 3: Allocate money to students and projects you like</p>
    {% endif %}
  </div><!-- .widget-content -->
</div><!-- .widget -->
