<table width="700" height="400" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert03_01.jpg" width="12" height="192" alt=""></td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert03_02.jpg" width="297" height="192" alt=""></td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert03_03.jpg" width="391" height="192" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert03_04.jpg" width="12" height="197" alt=""></td>
		<td>
		
        <div style="width:297px; height:197px; font-size:x-small;font-family:Arial, Helvetica, sans-serif; overflow:hidden;background-color:#ffffff;">
        <div style="font-weight:bold;margin-bottom:8px;">
        {% if bmesg %}
			{{bmesg}}
		{% else %}
			<span id="gcbody3"></span>{% comment %}
				this is replaced with the body of the message by javascript
			{% endcomment %}
		{% endif %}
        </div>
        Dear {%if name%}{{name}}{%else%}
				<span id="gcname3"></span>{%endif%},

			you have received a <span style="font-weight:bold;
			color:#497912">Givology.org</span> gift certificate
			from <a href="http://www.givology.org/~{{fromu}}/"
			style="color:#497912"> {{from}} </a> in the amount of
			
			${%if amount%}{{amount}}{%else%}
				<span id="gcamount3"></span>{%endif%}.
			
			To learn more about
			Givology, <a href="http://www.givology.org/about/"
			style="color:#497912">click here</a>. To register and start
			helping young students all over the
			world, <a href="http://www.givology.org/register/"
			style="color:#497912">click here</a>. Once you have registered,
			you can accept your gift certificate by
			<a href="http://www.givology.org/giv-now/gift-certificates/"
			style="color:#497912"> clicking here </a> and entering the
			confirmation key!
            <div style="font-weight:bold;color:#497912;margin-top:8px;">
			Confirmation Key: {% if code %}{{code}}{% else %}
				<br />(number will go here){% endif %} 
            </div>
        </div>
        </td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert03_06.jpg" width="391" height="197" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert03_07.jpg" width="12" height="11" alt=""></td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert03_08.jpg" width="297" height="11" alt=""></td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert03_09.jpg" width="391" height="11" alt=""></td>
	</tr>
</table>
