/* light green: #8dc63e */
/* light blue: #41b4d9 */
/* yellow: #f3d23a */
/* light gray: #f3f3f3 */
/* dark gray: #7a7a7a */

@font-face {
	font-family: 'Bebas';
	src: url('fonts/BebasNeue\ Regular.ttf');
}

#volunteer-header {
	font-family: 'Bebas';
	font-size: 20px;
	color: #7a7a7a;
}

.volunteer-text {
	font-family: 'Bebas';
	font-size: 20px;
}	

.volunteer-date {
	color: #8dc63e;
}

.volunteer-activity,
.volunteer-minutes {
	color: #41b4d9;
	display: inline;
}

.volunteer-header-text {
	font-size: 12px;
	font-family: 'Bebas';
	color: #7a7a7a;
}

#volunteering-hours,
#volunteering-activity {
	float: left;
	display: block;
}

input[type="submit"], .submit-button {
	background-color:#8dc63e;
	text-indent: 0;
	display: inline-block;
	color: #ffffff;
	font-family: 'Bebas';
	font-size: 20px;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	padding-top: 1px;
	margin-top: 0 !important;
	float: left;
	border: 0px !important;
	margin-left: 50px;
}

label.inline.blog-label {
	cursor: default;
	font-family: 'Bebas';
	font-size: 25px;
	padding: 0;
	/*margin: 0.5rem 0 1rem 0;*/
	float: left;
	/*display: block;*/
	color: #000;
	line-height: 40px;
	height: 40px;
}

select {
	border-style: solid;
    border-color: #ffffff #ffffff #41b4d9 #ffffff;
    border-width: 5px;
    font-family: 'Bebas';
    font-size: 25px !important;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    color: #f3d23a;
    margin-left: 20px !important;
    margin-right: 20px !important;
    box-shadow: none;
    background-color: #ffffff;
    margin-bottom: 30px !important;
}

#volunteering-activities {
	height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 770px;
    background-color: #EFEFEF;
    padding: 20px;
    padding-left: 50px;
    margin-top: 30px;
}

.left-side {
	padding-right: 80px;
}

.volunteering-row {
	line-height: 30px;
	height: 30px;
}

