/* light green: #8dc63e */
/* light blue: #41b4d9 */
/* yellow: #f3d23a */
/* light gray: #f3f3f3 */
/* dark gray: #7a7a7a */

@font-face {
	font-family: 'Bebas';
	src: url('fonts/BebasNeue\ Regular.ttf');
}

#volunteer-header {
	font-family: 'Bebas';
	font-size: 3rem;
	color: #7a7a7a;
}

.volunteer-text {
	font-family: 'Bebas';
	font-size: 1.8rem;
}	

.volunteer-date {
	color: #8dc63e;
}

.volunteer-activity,
.volunteer-minutes {
	color: #41b4d9;
	display: inline;
}

.volunteer-header-text {
	font-size: 1rem;
	font-family: 'Bebas';
	color: #7a7a7a;
}

input[type="submit"], .submit-button {
	background-color:#8dc63e;
	text-indent: 0;
	display: inline-block;
	color: #ffffff;
	font-family: 'Bebas';
	font-size: 1.8rem;
	font-style: normal;
	height: 2.3125rem;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	padding-top: 1px;
	margin-top: 0.3rem;
}

label.inline.blog-label {
	cursor: default;
	font-family: 'Bebas';
	font-size: 1.5rem;
	padding: 0;
	margin: 0.5rem 0 1rem 0;
}

select {
	border-style: solid;
    border-color: #ffffff #ffffff #41b4d9 #ffffff;
    border-width: 5px;
    font-family: 'Bebas';
    font-size: 1.5rem;
    height: 2.83rem;
    text-align: center;
    color: #f3d23a;
    margin: 0.2rem 0 1rem 0;
    box-shadow: none;
    background-color: #ffffff;
}

#volunteering-activities {
	height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background-color: #f3f3f3;
    padding: 20px;
}