/* [TJK_dropDown] Copyright 2006, Thierry Koblentz - TJKDesign.com. all rights reserved. */
#menu li ul {top:1.55em !important;display:none !important}
#menu li {position:relative}
#menu li ul li {float:none !important;padding:0 !important;}
#menu li ul a {text-align:left;float:none !important}
#menu li.msieFix a {}
#menu li.msieFix ul {
display:block  !important;
width:120%;
padding:0 !important;
z-index:50 !important;
}
#google {margin-top:6em !important}
