.btn {
  font-size: 50px;
  position: absolute;
}

.btn-light {
  color: #41b5d9;
  z-index: 10;
  margin-left: 90px;
}

.btn-shadow {
  color: black;
  z-index: 5;
  margin-left: 95px;
}

.btn-down {
  margin-top: -65px;
}

img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

@font-face {
  font-family: 'Bebas';
  src: url('fonts/BebasNeue\ Regular.ttf');
}

#title {
  font-family: 'Bebas';
  font-size: 30px;
  color: #EAC223;
  padding-left: 30px;
}

#carousel {
  border: solid 10px #EAC223;
  padding: 5px;
}