#similar {
  margin-left: 30px;
  margin-bottom: 20px;
}

.btn-light2 {
  color: #41b5d9;
  z-index: 10;
  margin-left: 40px;
}


img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#carousel2 {
  border: solid 10px #EAC223;
  padding: 5px;
}