<table width="700" height="400" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert06_01.jpg" width="17" height="15" alt=""></td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert06_02.jpg" width="665" height="15" alt=""></td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert06_03.jpg" width="18" height="15" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert06_04.jpg" width="17" height="168" alt=""></td>
		<td>
        <div style="width:665px; height:168px; font-size:small;font-family:Arial, Helvetica, sans-serif; overflow:hidden;background-color:#ffffff;">
        <div style="font-weight:bold;margin-bottom:8px;margin-top:5px">
        {% if bmesg %}
			{{bmesg}}
		{% else %}
			<span id="gcbody6"></span>{% comment %}
				this is replaced with the body of the message by javascript
			{% endcomment %}
		{% endif %}
        </div>
        Dear {%if name%}{{name}}{%else%}
				<span id="gcname6"></span>{%endif%},

			you have received a <span style="font-weight:bold;
			color:#497912">Givology.org</span> gift certificate
			from <a href="http://www.givology.org/~{{fromu}}/"
			style="color:#497912"> {{from}} </a> in the amount of
			
			${%if amount%}{{amount}}{%else%}
				<span id="gcamount6"></span>{%endif%}.
			
			To learn more about
			Givology, <a href="http://www.givology.org/about/"
			style="color:#497912">click here</a>. To register and start
			helping young students all over the
			world, <a href="http://www.givology.org/register/"
			style="color:#497912">click here</a>. Once you have registered,
			you can accept your gift certificate by
			<a href="http://www.givology.org/giv-now/gift-certificates/"
			style="color:#497912"> clicking here </a> and entering the
			confirmation key!
            <div style="font-weight:bold;color:#497912;margin-top:8px;">
			Confirmation Key: {% if code %}{{code}}{% else %}
				<br />(number will go here){% endif %} 
            </div>
        </div>
        </td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert06_06.jpg" width="18" height="168" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert06_07.jpg" width="17" height="217" alt=""></td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert06_08.jpg" width="665" height="217" alt=""></td>
		<td>
			<img src="http://www.givology.org/images/giftcerts/giftcert06_09.jpg" width="18" height="217" alt=""></td>
	</tr>
</table>
