{% extends "giv/templates/main" %}

{% block mainbody %}

<div id="container">
  <section role="main" id="content-main">
    <h2 id="page-title">Page not found!</h2>
    <article>
      <div class="article-content">
        <img src="/images/givology_404.jpg" style="margin-top:25px;margin-right:15px;padding:0;float:right;">
	         </div>
    </article>
  </section>
</div>

<nav id="tertiary">
  <ul>
    <li><a href="/giv-media/photos/">Photos</a></li>
    <li><a href="/giv-media/videos/">Videos</a></li>
    <li><a href="/giv-media/press/">Press</a></li>
   <!--  <li><a href="/giv-media/annual-reports/">Annual Reports</a></li> -->
  </ul> 
</nav>

{% include "sub-support-givology.html" %}

{% endblock %}

