<!DOCTYPE html>
<meta charset="utf-8">

<head>

	<link rel="stylesheet" type="text/css" href="/static/foundation-5/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="/static/blog_temp.css">

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="/static/blog_temp.js"></script>

</head>

<body>
	<div class="row">
		<div class="small-12 columns">
			<div id="volunteer-header">You've Volunteered:</div>
		</div>
	</div>
	<form action="/volunteered/" method="POST" class="volunteering clearfix">
		<div class="row">
			<div class="small-1 columns">
	          <label for="right-label" class="inline blog-label">I spent</label>
	        </div>
	        <div class="small-4 columns">
	          	<select name="minutes" id="volunteering-hours">
                  	<option value="30">30 minutes</option>
                  	<option value="60">1 hour</option>
                  	<option value="120">2 hours</option>
                  	<option value="240">4 hours</option>
                </select>
	        </div>
	        <div class="small-2 columns">
	          <label for="right-label" class="inline blog-label">volunteering by</label>
	        </div>
	        <div class="small-4 columns">
	          	<select name="action" id="volunteering-activity">
                  	<option>spreading the word</option>
                  	<option>fundraising</option>
                  	<option>writing a letter</option>
                  	<option>participating in a campaign</option>
                  	<option>blogging</option>
                  	<option>interacting on social media</option>
                  	<option>programming</option>
                  	<option>other</option>
                </select>
	        </div>
	        <div class="small-1 columns">
	        	<input type="submit" class="button" value="Submit" />
	        	<!--<div class="submit-button">Submit</div>-->
	    	</div>
	  	</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div id="volunteering-activities">
				{% for vw in volunteer_works %}
					<div class="row">
						<div class="small-3 columns">
							{{ vw.when|date:"m/d/y" }}
						</div>
						<div class="small-9 columns">
							{{ vw.minutes }} minutes volunteering by {{ vw.action }} 
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
