{% extends "giv/templates/main" %}
{% block mainbody %}
<div id="container" class="clearfix sidebar-right blog-listing">
  <section role="main" id="content-main">
    <h2 id="page-title">
      {% if header_override %}
        {{ header_override }}
      {% else %}
       {% ifequal uname user.username %}My{% else %}{{name}}'s{% endifequal %} Posts{% endif %}{% if show_tag %}{% if selected_tag %}: {{selected_tag}}{% endif %}{% endif %}
    </h2>
    

    {% ifequal uname user.username %}
    <div align="center">
      <a href="/compose/?type=blogpost"> Add a new entry </a>
    </div>
    {% endifequal %}

    <ul class="articles">
      {% for post in blog.posts %}
        {% ifequal post.spamclass 'spam' %}
           {% if user.is_staff %}
              {% include "blog_list_item" %}
           {% endif %}
        {% else %}
           {% include "blog_list_item" %}
        {% endifequal %}
      {% endfor %}

    </ul>


    <div>
      <!-- paginate to next nposts -->
      {% if blog.get_prev %}
      <div style="float:left">
        <h2>
          <a href="{{blog.url}}?ids={{blog.prev_ids}}">Prev</a>
        </h2>
      </div>
      {% endif %}
      {% if blog.get_next %}
      <div style="float:right">
        <h2>
          <a href="{{blog.url}}?ids={{blog.next_ids}}">Next</a>
        </h2>
      </div>
      {% endif %}
    </div>

    
  </section>

  <aside>
    <div class="widget total-impact">
      <h3 class="widget-title">Total Impact So Far</h3>
      <div class="widget-content">
{% include 'widgets/total-impact-aside-stats.html' %}
        <p>Make an impact. Join Givology's commitment to impacting students' lives around the world today.</p>
        <div class="button-container"><a href="/who-we-are/how-it-works/" class="button">See How It Works</a></div>
        <div class="button-container"><a href="/giv-now/" class="button button-cta">Make a Donation</a></div>
        </div><!-- .widget-content -->
      </div><!-- .widget -->

    <!--
    <div class="widget tags">
      <h3 class="widget-title">Tags</h3>
      <div class="widget-content">
        <ul>
          {% for top_tag in top_tags %}
          <li><a href="{{top_tag.url}}">{{top_tag.tag}} ({{top_tag.count}})</a></li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- .widget -->


  </aside>
</div>
{% include "sub-support-givology.html" %}
{% endblock %}
