{% extends "giv/templates/main" %}

{% block mainbody %}

<link rel="stylesheet" type="text/css" href="/static/dashboard.css">
<link rel="stylesheet" type="text/css" href="/static/trending_temp.css">
<link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="/static/owl-carousel/owl.theme.css" rel="stylesheet">

<style type="text/css">
	#owl-demo .item{
	  margin: 3px;
	  width:206px;
	}

	#owl-demo .item img{
	  display: block;
	  width: 100%;
	  height: auto;
	}
</style>

<div id="wrap">

	<div id="sidebar">
		<div class="sidebarhead" style="color: #41B5D9">RECENTLY DONATED</div>


<!-- 		<div id="trending"> </div>
 -->


		<div class="sidebarhead" style="color: #EAC223">SIMILAR PROJECTS</div>
	</div>
	<div id="main">
		<div id="sectionInfo">
		</div>

		<div id="display">
			<div id="total">${{total}}</div>
		</div>

		<div class="titles">YOU'VE DONATED TO</div>

		<div id="owl-demo">
			{% for result in results %}
			<div class="item"><a href="{{result.url}}"><img src="{{result.large_img}}" alt="Owl Image"></a></div>
			{% endfor %}
			{% for result in results %}
			<div class="item"><a href="{{result.url}}"><img src="{{result.large_img}}" alt="Owl Image"></a></div>
			{% endfor %}
			{% for result in results %}
			<div class="item"><a href="{{result.url}}"><img src="{{result.large_img}}" alt="Owl Image"></a></div>
			{% endfor %}	

		</div>

		
		

	</div>
</div>


<script>
var impact_organizations = [];

{% for result in results %}
	//var result2 = {{result}};
	var orginfo = [];
	orginfo["given"] = {{result.my_given}};
	orginfo["need"] = {{result.grant_want_total}};
	orginfo["sofar"] = {{result.grant_have_total}};
	orginfo["pic"] = "{{result.picurl}}";
	orginfo["name"] = "{{result.name}}";
	orginfo["url"] = "{{result.url}}";
	orginfo["large_pic"] = "{{result.large_img}}";

	impact_organizations.push(orginfo);
	{% endfor %}
	</script>

	<script>
	// var trending_organizations = [];
	// {% for result in data %}
	// var orginfo = [];

	// orginfo["pic"] = "{{result.img}}";
	// orginfo["url"] = "{{result.url}}";
	// trending_organizations.push(orginfo);
	// {% endfor %}

	</script>

	<script src="//d3js.org/d3.v3.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="/static/jquery.fittext.js"></script>
	<script src="/static/impact_temp.js"></script>

	<script src="/static/owl-carousel/owl.carousel.js"></script>
	<script>
		$(document).ready(function() {
	 
	  		$("#owl-demo").owlCarousel({
	 
	      		autoPlay: 3000, //Set AutoPlay to 3 seconds

	      		items : 4,
	      		itemsDesktop : [1199,3],
	      		itemsDesktopSmall : [979,3]
	 
			});
	 
		});
	</script>		
	
	<!--  <script src="/static/trending_temp.js"></script> -->

	{% endblock %}