{% extends "giv/templates/main" %}

{% block mainbody %}
<div id="container" class="clearfix sidebar-right faq">
  <section role="main" id="content-main">
    <h2 id="page-title">FAQ</h2>
    <article>
      <div class="article-content">
        <dl>
		<a href="#1">What does Givology mean?</a>
		<br><a href="#2">How does Givology pick its partners?</a>
		<br><a href="#3">How can I join the Givology team or volunteer my time?</a>
		<br><a href="#4">Is my donation tax deductible?</a>
		<br><a href="#17">What is a Givology Wallet?</a>
		<br><a href="#5">I'm uncomfortable with donating online, can I write a check instead?</a>
		<br><a href="#6">How can I track the progress of a student or project?</a>
		<br><a href="#7">How much of our donation goes to transaction fees (credit card, bank transfers, etc.)?</a>
		<br><a href="#8">What comprises "other" expenses in each student and project profile?</a>
		<br><a href="#9">How do I send and receive messages from a student?</a>
		<br><a href="#10">Where does Givology currently operate?</a>
		<br><a href="#11">What is Givology's refund policy on donations, event tickets, and merchandise sales?</a>
		<br><a href="#12">What happens if my student leaves school?</a>
		<br><a href="#13">Can I get in direct contact with my sponsored student/project?</a>
		<br><a href="#14">What is the AutoDonate feature?</a>
		<br><a href="#15">What happens when a student is fully funded?</a>
		<br><a href="#16">Can I list my project on Givology?</a>
				<br>
		<br>
          <dt><a name="1">What does Givology mean?</dt></a>
          <dd>give + ology
<br>Give: [giv] to present voluntarily and without expecting compensation; bestow
<br>Ology: [ol-uh-jee] any science or branch of knowledge
<br>You can't find Givology in the dictionary but we chose this name in the spirit of changing the way we traditionally think about giving!</dd>

		<dt><a name="2">How does Givology pick its partners?</dt></a>
		
<dd><p>Great question! A core tenet of our mission is to identify the most innovative grassroots organizations around the world and bring them into our network. Rather than focus on large organizations with well-funded budgets, we pride ourselves on looking for truly local, on-the-ground organizations led by inspirational leaders with deep ties and a proven track record in the community. To ensure that we share only the highest quality projects with our donors, we conduct an extensive screening and due diligence process, <a href="/who-we-are/partnerships/">which you can read about here</a>. Typically, we admit partners to Givology through three main ways:
		
	<p>1. <b>In-network referrals</b>: beyond the data that we collect, many of our partners are referred to us through our extensive network of fellows, professional volunteers involved in development, and board members</p> 
<p>2. <b>Research by our associates</b>: we have an active team that constantly monitors news feeds, think tanks and research institutes, philanthropy conferences, and development blogs for innovative organizations in education </p>
<p>3. <b>Formal application process</b>: any education organization potentially interested in becoming a Givology partner can <a href="/who-we-are/partnerships/">fill out an application</a> and begin the interview process</p> 
					
					<dt><a name="3">How can I join the Givology team or volunteer my time?</dt></a>

<dd>We have plenty of opportunities to volunteer, start a chapter in your local community, travel abroad as a fellow, or intern with our core team! <a href="/get-involved/">Check out the "Get involved" section of our website for more details</a> on how to apply. Through your account dashboard, you can also log your volunteer hours for Givology - in so many ways, your time and skills are one of the most valuable donations you can give. Most of the volunteering can be done remotely, which affords you a lot of flexibility!</dd>

<dt><a name="4">Is my donation tax deductible?</dt></a>
<dd>Yes, your donations are tax deductible. Givology is a 501(c)(3) operating charity based in Pennsylvania. If you would like a tax receipt for your donation, please e-mail us at <a href="mailto:info@givology.org">info@givology.org</a> and we'll be happy to send you a receipt. </dd>

<dt><a name="17">What is a Givology Wallet?</dt></a>
<dd>A Givology wallet simplifies the donation process so that you can add money in one step. By adding money to your wallet, the funds will show up in your account, which you can then allocate to the students and projects of your choice. Through the Givology wallet, it makes it easy to give to multiple students and projects with only one credit card transaction.</dd>
			
<dt><a name="5">I'm uncomfortable with donating online, can I write a check instead?</dt></a>

<dd><p>Certainly! Even though online transactions through Google Checkout, a third-party provider of e-commerce services are completely secure, we understand if you have concerns about donating online. Regardless, we highly encourage you to create an account and profile on Givology so you can receive automatic e-mail progress updates and news notifications. Below are the three main options available:</p>

<p><b>Option #1 (You don't want to create an online account, but want to contribute, not recommended)</b>: You can mail us a check at the address below with a short note indicating which projects and students you want to support. Checks should be made out to Givology. A tax receipt will be e-mailed or sent to you in the confirmation.

		<p>Givology
<br>PO Box 2105
<br>New York, NY 10185-2105

<p><b>Option #2 (You have created an online account, but want to write a check instead, recommended)</b>: You can mail us a check at the address above with your Givology username and e-mail address. We'll credit your account and send you an update notification that we've received your check. Then, you can allocate the funding to students and projects as you see fit. We highly encourage this option because it allows you to receive automatic e-mail updates on your sponsored students and projects. 

<p><b>Option#3</b>: Contact our team with your specific situation and we'll be happy to work it out!</dt> 
	
			
	<dt><a name="6">How can I track the progress of a student or project?</dt></a>
	<dd>Our partners are committed to making regular updates on the progress of the students and projects sponsored by Givology. Updates come in the form of letters from students, videos, photos, academic transcripts, staff descriptions, among other forms. With our volunteer translators, we post the content and share it with you! By registering for an account on Givology and donating to a project or student, you should automatically receive e-mail updates when new progress reports become available. Furthermore, you can also view our student blogs and monitor your personalized feed of updates in your dashboard.</dt> 
				

<dt><a name="7">How much of our donation goes to transaction fees (credit card, bank transfers, etc.)?</dt></a>
<dd>Our goal is to minimize transaction fees to ensure that our students get the greatest amount of funding possible. 100% of your contribution is directed towards your charitable contribution - none goes to cover costs at Givology. Compared to other online funding organizations that will automatically take >10% of the donated amount to cover overhead, we're able to keep our annual costs extremely low due to our volunteer-only philosophy. To cover bank transaction fees that range from 2% to 4%, we conduct separate fundraising of our own to ensure that your contribution is fully protected in value. Furthermore, with our 501(c)(3) tax exemption status, we have secured preferential transaction pricing for online donations and international money transfers.</dd>
				
<dt><a name="8">What comprises "other" expenses in each student and project profile?</dt></a>
<dd>Other expenses include miscellaneous expenses related to education, such as lunch money at school, clothing or school uniforms, cost of supplementary workbooks and materials, additional tutoring, and any other case-by-case expense related to particular schools or programs. Since the needs of each student vary, our partners generally allow students some room for discretionary expenditures related to education. We usually provide a breakdown of this "other" category in the profile description.</dd>

<dt><a name="9">How do I send and receive messages from a student?</dt></a>
<dd>Once you log-in, you have the option of sending a message to our students through our inbox system. Every quarter, we aggregate all the messages that donors have sent, and deliver them via our partners - to show our students that there are so many people across the globe who truly care and believe in them. Often times, our students respond in the updates that we receive, which are posted to our website. Through this unique feature, you have the opportunity to communicate and interact with the causes that you support.</dd>

<dt><a name="10">Where does Givology currently operate?</dt></a>
<dd>Givology is officially incorporated as a tax-exempt 501(c)(3) non-profit in the Commonwealth of Pennsylvania, but our staff presence and volunteer network extends across the globe. We currently have 46 grassroots partners in 26 countries, but are constantly expanding our presence. </dd>
  
<dt><a name="11">What is Givology's refund policy on donations, event tickets, and merchandise sales?</dt></a>
<dd>Contact us if anything goes wrong here - we're here to help! E-mail us at <a href="mailto:info@givology.org">info@givology.org</a> with any inquiries. </dd>

<dt><a name="12">What happens if my student leaves school?</dt></a>
<dd>It's a reality that staying in school can often be tough, especially if there's an unexpected family illness or death, or any form of sudden economic hardship. In such a case, we'll notify you via e-mail and refund the money to your wallet. Our partners try really hard to develop programs that incentivize students and their parents to look towards the long-term benefits of schooling, but we recognize that the reality can often be tough. It's our policy to be forthcoming and honest about these unfortunate circumstances. </dd>

<dt><a name="13">Can I get in direct contact with my sponsored student/project?</dt></a>
<dd>A great feature of the Givology website is that you can send a message to your student, which will be delivered on your behalf by our partners. Our students often respond to donor letters in their updates, which we scan, translate, and post to our website. In consideration of privacy, specific student contact information is not disclosed publicly. The privacy of the students is first and foremost our concern.Some of our partners have special programs in which donors are encouraged to visit and work alongside students. For example, the Rural China Education Foundation holds a summer camp in which donors can volunteer to teach English in rural villages. If you are interested in these opportunities, please <a href="/fellowships/">consider applying for a Givology fellowship!</a></dd>

<dt><a name="14">What is the AutoDonate feature?</dt></a>
<dd>For those of you who don't have the time to look through the numerous students and projects, we've added this feature so that people can make generic donations. Our computers will choose recipients that need your help, and you will show up in their list of donors as normal. </dd>

<dt><a name="15">What happens when a student is fully funded?</dt></a>
<dd>When a student is fully-funded, we make arrangements to transfer the funding to our partner organization. In addition, we send the student a welcome package including a letter introducing Givology and all the donors who have helped sponsor him or her, as well as all the aggregated messages that donors have sent to him or her. Through our inbox system, we will notify donors that his or her sponsored student is fully-funded. Unlike other organizations, we aim on making each donation truly 1x1 so you know exactly how the money is being spent. </dd>

<dt><a name="16">Can I list my project on Givology? </dt></a>
<dd>If you are interested in listing your cause on Givology, please <a href="/partnerships/">check out our page about becoming a Givology partner</a>. Once you have submitted the documentation and completed our interview process, we will post the project and student profiles on our website. Unfortunately, we do not accept proposals from individuals - only from organizations.</dd>


						
						</dl>
					</div>
				</article>
			</section>

			<aside>

				<div class="widget general become-partner">
					<h3 class="widget-title">To Become a Partner</h3>
					<div class="widget-content">
						<p>Learn how your organization can join Givology's commitment to impacting student's lives around the world.</p>
						<p>Givology welcomes all interested parties to submit a completed Partner Application Form to Joyce Meng at <a href="mailto:joyce.meng@givology.org">joyce.meng@givology.org</a></p>
						<div class="button-container"><a href="/static/partnerapp.doc" class="button">Download Partner <span>Application Form</span></a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->

				<div class="widget general field-partners">
					<h3 class="widget-title">GIV Now</h3>
					<div class="widget-content">
						<p>Check out our students and projects - read about our sponsored causes and contribute today!</p>
						<div class="button-container"><a href="/giv-now/" class="button">Make a difference!</a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->

			</aside>
		</div>




{% endblock %}
