{% extends "giv/templates/main" %}

{% block mainbody %}

<div id="container" class="clearfix sidebar-right profile-listing">
  <section role="main" id="content-main">
    <h2 id="page-title">Our Field Partners</h2>
    <article>
      <div class="article-content">
        <p>Our field partners are the engines behind Givology. We identify high impact, grassroots organizations that have a demonstrated track record in the community, an innovative model for impact, and a commitment to impact evaluation and transparency. Although our partners differ in geographic location and programmatic scope of work, they all share a common vision of making quality education accessible to all children. Our partners identify their highest priority funding needs and we help them raise funding and awareness to achieve their goals.  </p>
      </div>
    </article>
    
    <section style="width: 100%;">
      <h3 class="section-heading">Field Partners</h3>
      <section style="width:100%;">
        <form action=".">
          <div class="profile-search">
            <label for="profile-search-text">Search for a Field Partner</label>
            <input id="profile-search-text" name="name" type="text" value="{{name}}" />
            <input type="submit" />
          </div>
          <div class="profile-sort">
            <p><strong>{{partner_count}}</strong> Partners found of
            <strong>{{total_partner_count}}</strong> Total Field Partners</p>
          </div>
          <div class="profile-filter">
            <select name="pstatus">
              <option value="">Status</option>
              {% for status in statuses %}
              <option value="{{status}}"
                {% ifequal pstatus status %} selected="selected" {% endifequal %}>
                {{status}}
              </option>
              {% endfor %}
            </select>
            <button type="submit" class="button">Search</button>
          </div>
        </form>
      </section>
    </section>
    <section>
      <ul class="profiles profiles-team">
        {% for partner in results %}
        <li>
          <article>
            <div class="profile-thumb">
              <div class"profile-thumb-img"
                style="width: 105px; height: 100px;
                       background: #e9e9e9 url('{{partner.picurl}}') no-repeat scroll center;">
              </div>
            </div>
            <h5 class="profile-title">
              <a href="{{partner.url}}">{{partner.name}}</a>
            </h5>
            {% if partner.students %}
            <div class="subtitle"><strong>{{partner.students}}</strong> students</div>
            {% endif %}
            {% if partner.projects %}
            <div class="subtitle"><strong>{{partner.projects}}</strong> projects</div>
            {% endif %}
            <div class="profile-excerpt">
              <p>{{partner.summary}}</p>
            </div>
          </article>
        </li>
        {% endfor %}
      </ul>
    </section>
  </section>
  
  <aside>
  </aside>
  
</div>
{% endblock %}
