{% extends "giv/templates/main" %}

{% block morejavascript %}

function form_getval(id){
	return document.getElementById(id).value;
}

function form_setval(id, val){
	return document.getElementById(id).value = val;
}

function set_innards(node, text){
	while(node.childNodes.length > 0){
		node.removeChild(node.childNodes[0]);
	}
	node.appendChild(document.createTextNode(text));
}

function set_innards_id(nodeid, text){
	set_innards(document.getElementById(nodeid), text);
}

function update_giftcert(){
	for(i=0;i<gctotal;i++){
		try {
			set_innards_id("gcbody"+i,form_getval("formbmesg"));
			set_innards_id("gcname"+i,form_getval("formname"));
			set_innards_id("gcamount"+i,form_getval("formamount"));
		} catch(e) { }
	}
}
function update_late(){
	update_giftcert();
	changegc(parseInt(form_getval("gcnum")));
	setTimeout("update_giftcert()", 100);
	setTimeout("update_giftcert()", 1000);
}

gctotal = 8;

function changegc(i){
	for(j=0;j<gctotal;j++){
		if(j != i){
			try {
				document.getElementById("gc"+j).style.display="none";
			} catch (e) { }
		}
	}
	try {
		document.getElementById("gc"+i).style.display="inline";
	} catch (e) {}
	form_setval("gcnum",i);
}


{% endblock %}

{% block moreheader %}

<link rel="stylesheet" type="text/css" media="all" href="/static/scrollable-buttons.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/scrollable-horizontal.css" />

{% endblock %}


{% block mainbody %}

{% if warn %}
<div style="width: 50%; background-color: #ffa; padding: 10px 10px; margin-left: 24%;">
	{% if warnuser %}
	Warning: You must be <a href="login">logged in</a> to use this page, and if you want to create a gift certificate, you must have money in your <a href="/account/#wallet">wallet</a>.
	{% endif %}
	
	{% if warnwallet %}
	Warning: Your <a href="/account/#wallet">wallet</a> is empty; you may of course accept gift certificates, but if you want to create a gift certificate, you must add money to your <a href="/account/#wallet">wallet</a>.
	{% endif %}
</div>
{% endif %}

<div style="float:left;margin:20px;">
	<img src="../../images/hd_giftcert.jpg" width="259" height="216" onload="update_late()">
</div>

<h1>Givology Gift Certificates</h1>

<p>
	
	Have you ever struggled to find a meaningful gift?  A Givology Gift
	Certificate is a great present for any occasion. Your friends and
	family will be delighted to receive a gift that changes the lives of
	children throughout the world. 100% tax-deductible and customizable,
	a Givology Gift Certificate is the best way to show that you care.
	
</p>

<div style="width: 550px; margin-right: 10px; float: left;">
	{% include "curveboxbegin" %}
	<h3>Accept a Gift Certificate</h3>
	<div style="margin-left: 10px;">
	<form method="POST" action=".">
		<input type="hidden" name="action" value="use" />
		Confirmation Key:<br />
		<input type="text" name="key" />
    <input type="submit" value="Use" />
	</form>
	</div>
	{% include "curveboxend" %}
</div>

<div style="float: right; width: 100%; margin-top: 10px; margin-bottom: 10px;">
</div>

<div style="margin-left: 10px;">
	<h3>Create a Gift Certificate</h3>
	<p>
		
		Fill in the information below to customize a Givology gift
		certificate. Your recipient will receive an e-mail with your
		message, along with a code to redeem the value of the gift
		certificate once he or she is logged in or registered.  Once
		redeemed, the recipient's wallet will be credited, allowing him or
		her to allocate funds to education projects and student
		scholarships. A Givology gift certificate is a gift of choice and
		opportunity.
		
	</p>
	<br>


	<div style="width: 100%; margin-left: -5px; background-color: #fff;float: left; overflow: hidden; margin-bottom: 10px;">
    <div id="box1" style="width:55%;float:left;background-color:#eee;margin-right:10px;margin-bottom:10px;">
    <div style="margin-left: 10px; width:100%;padding:10px;"><span style="font-size:medium;font-weight:bold;color:#333">1. Pick a template</span><br /><br />
		<a class="prevPage browse left"></a>
		
		<div class="scrollable" style="width:350px ; height: 115px; margin-top: 10px;">
			<div class="items">
				<img style="width: 150px; height: 85px;" src="/images/giftcerts/thumbnails/giftcert00_thumb.png" onclick="changegc(0)" />
				<img style="width: 150px; height: 85px;" src="/images/giftcerts/thumbnails/giftcert01_thumb.png" onclick="changegc(1)" />
				<img style="width: 150px; height: 85px;" src="/images/giftcerts/thumbnails/giftcert02_thumb.png" onclick="changegc(2)" />
				<img style="width: 150px; height: 85px;" src="/images/giftcerts/thumbnails/giftcert03_thumb.png" onclick="changegc(3)" />
				<img style="width: 150px; height: 85px;" src="/images/giftcerts/thumbnails/giftcert04_thumb.png" onclick="changegc(4)" />
				<img style="width: 150px; height: 85px;" src="/images/giftcerts/thumbnails/giftcert05_thumb.png" onclick="changegc(5)" />
				<img style="width: 150px; height: 85px;" src="/images/giftcerts/thumbnails/giftcert06_thumb.png" onclick="changegc(6)" />
				<img style="width: 150px; height: 85px;" src="/images/giftcerts/thumbnails/giftcert07_thumb.jpg" onclick="changegc(7)" />
			</div>
		</div>
		<a class="nextPage browse right"></a>
		<br clear="all" />
	</div>
    </div>
	
	<div style="width: 40%; background-color: #eee;float: left; padding:10px; margin-bottom: 10px;">
		<span style="font-size:medium;font-weight:bold;color:#333">2. Recipient information</span>
        
    <div style="float:left">
        <form method="POST" action="." onKeyDown="update_late()">
			<input type="hidden" name="action" value="create" />
			<input type="hidden" name="gcnum" value="0" id="gcnum" />
			
			<div style="float: left">
			Recipient's Name:<br />
			<input type="text" 
			   onchange="update_late()"
			       name="name" id="formname"
			      style="width: 200px;margin-bottom:5px;" /><br />
			</div>
			<div style="float: left">
			Recipient's Email Address: (optional)<br />
			<input type="text"
			   onchange="update_late()"
			   name="email"
			  style="width: 200px;margin-bottom:5px;" /><br />
			</div>
			</div>
            <div style="float:left;">
			<div style="float: left">
			Brief Message: (optional)<br />
			<textarea  name="bmesg" id="formbmesg"
			       onchange="update_late()"
    	          style="width : 200px; height: 60px;
    	                 font-size: 12px;"></textarea><br />
			</div>
			<div style="padding-left:10px;float:left;">
			Amount:&nbsp;
			$<input type="text" name="amount" id="formamount" value="20" size="4"
			   onchange="update_late()" /><br /><br />

        <input type="submit" value="Create" /></div>
			</div>
		</form>
		
	</div>
	
	<div style="float: left; width: 100%; margin-left: -5px; padding: 0 0px 30px 0; text-align: center;">
	<div id="gc0">
		{% include "giv/templates/giftcerts/giftcert0body.html" %}
	</div>
	
  <div id="gc1">
		{% include "giv/templates/giftcerts/giftcert1body.html" %}
	</div>
    
  <div id="gc2">
		{% include "giv/templates/giftcerts/giftcert2body.html" %}
	</div>
    
    <div id="gc3">
		{% include "giv/templates/giftcerts/giftcert3body.html" %}
	</div>
    
    <div id="gc4">
		{% include "giv/templates/giftcerts/giftcert4body.html" %}
	</div>
    
    <div id="gc5">
		{% include "giv/templates/giftcerts/giftcert5body.html" %}
	</div>
    
    <div id="gc6">
		{% include "giv/templates/giftcerts/giftcert6body.html" %}
	</div>
    
    <div id="gc7">
		{% include "giv/templates/giftcerts/giftcert7body.html" %}
	</div>
	
  </div>
    
</div>

<script> 
// execute your scripts when the DOM is ready. this is a good habit 
$(function() { 
    update_late();
    // initialize scrollable 
    $("div.scrollable").scrollable({
        size: 2
    }); 
 
}); 
</script>

{% endblock %}


