{% extends "giv/templates/main" %}

{% block morejavascript %}

function update_giftcert(){
        for(i=0;i<gctotal;i++){
                try {
                    $('#'+'gcbody'+i).html($('#formbmesg').val());
                    $('#'+'gcname'+i).html($('#formname').val());
                    $('#'+'gcamount'+i).html($('#formamount').val());
                } catch(e) { }
        }
}
function update_late(){
        update_giftcert();
        setTimeout("update_giftcert()", 100);
        setTimeout("update_giftcert()", 1000);
}

gctotal = 8;

function changegc(i){
        for(j=0;j<gctotal;j++){
                if(j != i){
                        try {
                                document.getElementById("gc"+j).style.display="none";
                        } catch (e) { }
                }
        }
        try {
                document.getElementById("gc"+i).style.display="inline";
        } catch (e) {}
        $('#gcnum').val(i);
        //form_setval("gcnum",i);
}


{% endblock %}



{% block mainbody %}
<div id="container" class="gift-card clearfix sidebar-right">
  <h2 id="page-title">GIV a Givology Gift Card</h2>
  <section role="main" id="content-main">
    <article>
      <div class="article-content">
        <h1>GIV a gift that keeps on giving.</h1>
        <p>If you've ever struggled to find the perfect gift, a Givology Gift Certificate is a great present for any occasion! Your friends and family will be delighted to receive the opportunity to change the life of a child and his or her family and community. 100% tax-deductible and customizable, a Givology Gift Certificate is a great way to show that you care.</p>
      
      </div>
    </article>
  </section>
  
  <aside>
    <div class="widget general gift-card">
      <div class="widget-content">
        <h4 class="subtitle">Accept a Gift Card</h4>
        {% if user.username %}
        <form action="/giv-now/gift-certificates/accept/" method="POST">
          <label for="confirmation-key">Confirmation Key:</label>
          <input type="text" class="text required" name="confirmation-key" id="confirmation-key" />
          <button type="submit" class="submit button" value="Use">Use</button>
        </form>
        {% else %}
        <p>You must log in or register to accept a gift certificate!</p>
        <p><a href="/register/" class="button button-cta">Join Today!</a></p>
        {% endif %}
      </div><!-- .widget-content -->
    </div><!-- .widget -->
  </aside>
</div>

<section id="create-gift-card">
  <h3 class="section-heading">Create a Gift Card</h3>


  {% if warnuser %}
   <p>You must be logged in to create a gift certificate. <a id="login" href="/login/">Login </a> Now! </p>
{% else %}
   {% if warnwallet %}
   <p>You must have money in your Givology Wallet in order to create a gift certificate.  Access your wallet from your  <a id="account" href="/account/"> account page </a> now! </p>
   {% else %}
   
  
  <p>Fill in the information below to customize a Givology gift certificate. Your recipient will receive an e-mail with your message, along with a code to redeem the value of the gift certificate once he or she is logged in or registered. Once redeemed, the recipient's wallet will be credited, allowing him or her to allocate funds to education projects and student scholarships. A Givology gift certificate is a gift of choice and opportunity.</p>
  <form id="gift-certificate-form" method="POST" action="." onKeyDown="update_late()">
    <input type="hidden" name="action" value="create" />
    <input type="hidden" name="gcnum" value="0" id="gcnum" />
    <fieldset class="choose-card">
      <h4>Choose a Gift Card</h4>
      <div id="card-carousel">
        <ul class="bjqs">
          <li> <!-- NOTE: is the label stuff important at all? -->
            <label for="card-1"><input type="radio" id="card-1" name="gift-card" /><img style="width: 160px; height: 90px;" src="/images/giftcerts/thumbnails/giftcert00_thumb.png" onclick="changegc(0)" /></label>
            <label for="card-2"><input type="radio" id="card-2" name="gift-card" /><img style="width: 160px; height: 90px;" src="/images/giftcerts/thumbnails/giftcert01_thumb.png" onclick="changegc(1)" /></label>
            <label for="card-3"><input type="radio" id="card-3" name="gift-card" /><img style="width: 160px; height: 90px;" src="/images/giftcerts/thumbnails/giftcert02_thumb.png" onclick="changegc(2)" /></label>
            <label for="card-4"><input type="radio" id="card-4" name="gift-card" /><img style="width: 160px; height: 90px;" src="/images/giftcerts/thumbnails/giftcert03_thumb.png" onclick="changegc(3)" /></label>
            <label for="card-5"><input type="radio" id="card-5" name="gift-card" /><img style="width: 160px; height: 90px;" src="/images/giftcerts/thumbnails/giftcert04_thumb.png" onclick="changegc(4)" /></label>
            <label for="card-6"><input type="radio" id="card-6" name="gift-card" /><img style="width: 160px; height: 90px;" src="/images/giftcerts/thumbnails/giftcert05_thumb.png" onclick="changegc(5)" /></label>
            <label for="card-7"><input type="radio" id="card-7" name="gift-card" /><img style="width: 160px; height: 90px;" src="/images/giftcerts/thumbnails/giftcert06_thumb.png" onclick="changegc(6)" /></label>
            <!--label for="card-8"><input type="radio" id="card-8" name="gift-card" /><img style="width: 160px; height: 90px;" src="/images/giftcerts/thumbnails/giftcert07_thumb.png" onclick="changegc(7)" /></label-->
          </li>
          <!-- li>
            <label for="card-9"><input type="radio" id="card-9" name="gift-card" /><img src="http://placehold.it/160x90/fff.jpg" alt="Placeholder" /></label>
            <label for="card-10"><input type="radio" id="card-10" name="gift-card" /><img src="http://placehold.it/160x90/fff.jpg" alt="Placeholder" /></label>
          </li -->
        </ul>
      </div>
      
      <!--h4>Or Upload Your Own Design.</h4>
      <div class="upload-area">
        <input type="file" />
      </div-->
      
    </fieldset>
    
    <fieldset class="recipient-information">
      <h4>Recipient Information</h4>
      <div>
        <label for="formname" class="required">Recipient's Name:</label>
        <input type="text" name="name" id="formname"
               onchange="update_late()" class="required" />
        <label for="recipient-email" class="required email">Recipient's Email:</label>
        <input type="text" name="email" id="recipient-email" />
      </div>
      <div>
        <label for="formbmesg">Message:</label>
        <textarea class="required" name="bmesg" onchange="update_late()" id="formbmesg" cols="30" rows="3"></textarea>
      </div>
    </fieldset>
    
    <fieldset class="enter-amount">
      <h4>Enter an Amount</h4>
      <label for="formamount">Amount</label>
      <input type="text" onchange="update_late()" name="amount"
        id="formamount" class="required digits" />
    </fieldset>
    <div class="button-container">
          <button type="submit" class="button button-cta">Create Gift Card!</button>
    </div>
    
  </form>
  
  <div class="preview-gift-card">
    <h3 class="section-heading">Preview Your Gift Card</h3>
    <div id="gc0">
                {% include "giv/templates/giftcerts/giftcert0body.html" %}
        </div>
        
  <div id="gc1" style="display: none;">
                {% include "giv/templates/giftcerts/giftcert1body.html" %}
        </div>
    
  <div id="gc2" style="display: none;">
                {% include "giv/templates/giftcerts/giftcert2body.html" %}
        </div>
    
    <div id="gc3" style="display: none;">
                {% include "giv/templates/giftcerts/giftcert3body.html" %}
        </div>
    
    <div id="gc4" style="display: none;">
                {% include "giv/templates/giftcerts/giftcert4body.html" %}
        </div>
    
    <div id="gc5" style="display: none;">
                {% include "giv/templates/giftcerts/giftcert5body.html" %}
        </div>
    
    <div id="gc6" style="display: none;">
                {% include "giv/templates/giftcerts/giftcert6body.html" %}
        </div>
    
    <div id="gc7" style="display: none;">
                {% include "giv/templates/giftcerts/giftcert7body.html" %}
        </div>

  </div>


<script>
  $(function(){
    $('#gift-certificate-form').validate()
  });
</script>

  
  {% endif %}
{% endif %}

</section>

{% endblock %}
