{% extends "giv/templates/main" %}

{% block mainbody %}
<div id="container" class="who-we-are sidebar-right clearfix">
  <section role="main" id="content-main">
    <h2 id="page-title">GIV Now</h2>
    <article>
      <div class="article-content">
        <h1>You can change the life of a child.</h1>
        <p>Every dollar makes a difference. We partner with high impact grassroots organizations that give us their priority projects and scholarship needs. By joining the Givology community and giving to a student or project, you can make a transformational difference in the life of a child and his or her community. Once you add money to your wallet, you can allocate the funds to the causes that resonate with you, receive automatic updates, monitor your impact through your dashboard, and participate in our community.</p>
      </div>
    </article>
  </section>

  <aside>
    <iframe width="448" height="251" src="http://www.youtube.com/embed/Q5Z5koCA4ko?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
  </aside>
</div>

<nav id="tertiary">
  <ul>
    <li><a href="/giv-now/giv-students/">GIV to a Student</a></li>
    <li><a href="/giv-now/giv-projects/">GIV to a Project</a></li>
    <li><a href="/giv-now/giv-givology/">GIV to Givology</a></li>
    <li><a href="/giv-now/gift-certificates/">GIV a Gift Certificate</a></li>
  </ul>
</nav>

{% include "sub-support-givology.html" %}


{% endblock %}
