{% extends "giv/templates/main" %}

{% block mainbody %}
<div id="container" class="clearfix sidebar-right how-it-works">
  <section role="main" id="content-main">
    <h2 id="page-title">GIV to Givology</h2>
    <article>
      <div class="article-content">
        <h1>Help us grow our organization.</h1>
			
 
      <p>A contribution to Givology is different from a payment to wallet because it funds our internal growth initiatives and gives us discretion over the use of funding. Since we are 100% volunteer-run and we do not use any online donations to cover our own costs, we depend on our supporters to help us defray some of our own internal expenses for growth. </p>
{% include "giv/templates/donationbutton" %}

<p>We are proud that we have raised hundreds of thousands of dollars to help students and schools around the world on an overhead budget of less than $500 per year, mainly for web hosting. A contribution direct to Givology helps us build an important reserve fund to support our partners and gives us much more flexibility in leveraging the money to make a difference. Just as a few examples of how we have used direct contributions to Givology in the past: </p>

<p>

<ul>
<li>Web hosting and costs to support our photo and video galleries</li>
<li>Contingency support for our partners </li>
<li>Discretionary use of funds to help our high priority and/or time sensitive projects and scholarships</li>
<li>Working capital for events and campaigns</li>
<li>Working capital for our chapters for fundraising and awareness building</li>
<li>Seed capital for our Givology store and other special initiatives </li>
<li>Prize money for Givology-wide contests designed to raise awareness</li>
<li>Matching funding for Givology-wide campaigns</li>
<li>Subscription services to charity grant making databases</li>
</ul>

<p>By giving us discretion over the use of funds, your sponsorship dollars help us grow organically and extend our overall reach.  If you have any questions or would like to discuss further, please e-mail us at <a href="mailto:info@givology.org">info@givology.org</a>. </p>

<h1>Other Forms of Sponsorship</h1>

<p>Many of our partners depend on in-kind donations to support their activities. We've helped collect library books, school supplies, clothing, used computers and monitors, among other important educational tools. </p>

<p>Furthermore, as a Google Grant award winner, we know the power of in-kind donations of marketing support, consulting services, advertising, public relations, graphic design, SEO, among other activities. We have been fortunate in the past to work with a myriad of terrific organizations such as Gigapixel Creative, AppNexus, Huddle, TechSoup, among others that have dedicated their services, talents, and products to help Givology grow. </p>

<p>If you would like to make an in-kind donation, please contact us at <a href="mailto:info@givology.org">info@givology.org</a>. </p> 


 </div><!-- .article-content -->
    </article>
  </section>
  
  
  
  
  <aside>
    <div class="widget total-impact">
      <h3 class="widget-title">Total Impact So Far</h3>
      <div class="widget-content">
{% include 'widgets/total-impact-aside-stats.html' %}
        <p>Make an impact today! Help us give the gift of opportunity to students around the world.</p>
						<div class="button-container"><a href="/giv-now/giv-projects/" class="button">GIV to a project</a></div>
						<div class="button-container"><a href="/giv-now/giv-students/" class="button button-cta">GIV to a student</a></div>
      </div><!-- .widget-content -->
    </div><!-- .widget -->
    
    <div class="widget general field-partners">
      <h3 class="widget-title">Join Our Team</h3>
      <div class="widget-content">
        <p>Learn more about opportunities to get involved with Givology - in many ways, your time is more valuable than money.</p>
        <div class="button-container"><a href="/get-involved/" class="button">Get Involved</a></div>
      </div><!-- .widget-content -->
    </div><!-- .widget -->
	
  </aside>
</div>
{% endblock %}
