{% extends "giv/templates/main" %}

{% block mainbody %}




<form method="POST" action=".">
your name: <input type="text" value="{{sendername}}" name="sendername" /><br />
your email (required): <input type="text" value="{{email}}" name="senderemail" /><br />
recipient name (required): <input type="text" name="recipientname" /><br />
recipient email (optional): <input type="text" name="recipientemail" /><br />
delivery date:
<select name="deliverydate">
	<option value="..." selected="selected">At earliest convenience</option>
{% for d in deliverydates %}
	<option value="{{d.ordinal}}">{{d.date}}</option>
{% endfor %}
</select> <br />
Recipient's Mailing Address (required)<br />
<textarea name="address">
</textarea><br />
Recipient's School Name (optional) <input type="text" name="schoolname" /> <br />
Recipient's Home town (optional) <input type="text" name="hometown" /> <br />
Shout out (optional) -- Optionally leave a brief message for other donors to see <br />
<textarea name="shoutout">
</textarea><br />

Message to recipient <br />
<textarea name="message">
</textarea><br />
</form>



{% endblock %}
