<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="/static/impact_temp.css">


<body>

  <div id="sectionInfo">
  {% for result in results %} 
      {{result.my_given}}
      ***{{result.picurl57}} /
      <img src='../..{{result.picurl57}}'>
      <span class="profile-name"><a href="{{result.url}}">{{result.name}}</a></span>
    {% endfor %}

  {{total}}

  </div>
</body>

	<div id="sectionInfo">
	</div>

	
	<div id="display">
		<div id="total">${{total}}</div>
	</div>

	<script>
	var impact_organizations = [];

	{% for result in results %}
	var orginfo = [];
	orginfo["given"] = {{result.my_given}};
	orginfo["need"] = {{result.grant_want_total}};
	orginfo["sofar"] = {{result.grant_have_total}};
	orginfo["pic"] = "{{result.picurl57}}";
	orginfo["name"] = "{{result.name}}";

	impact_organizations.push(orginfo);
	{% endfor %}
	</script>

	<script src="//d3js.org/d3.v3.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="/static/impact_temp.js"></script>

</body>
