{% extends "giv/templates/main" %}

{% block mainbody %}

		<div id="container" class="who-we-are sidebar-right clearfix">
			<section role="main" id="content-main">
				<h2 id="page-title">Media</h2>
				<article>
					<div class="article-content">
						<h1>Check out Givology in the press & media.</h1>

<p.<p>In this section, you can read about our impact in the community, download our annual reports, check out our archive of photos and videos from our chapters and network, and learn about our philosophy of giving. If you would like to contribute to this archive, please e-mail us at <a href="mailto:info@givology.org">info@givology.org</a>.  We would love for you to join in on our campaigns! </p>						
						
					</div>
				</article>

			</section>
			<aside>
						
			<iframe width="448" height="251" src="http://www.youtube.com/embed/rwnXTFva7bk?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
			</aside>
		</div>

		<nav id="tertiary">
			<ul>
				<li><a href="/giv-media/photos/">Photos</a></li>
				<li><a href="/giv-media/videos/">Videos</a></li>
				<li><a href="/giv-media/press/">Press</a></li>
				<li><a href="/giv-media/annual-reports/">Annual Reports</a></li>
				
			</ul>
		</nav>

{% include "sub-support-givology.html" %}

{% endblock %}
