{% extends "giv/templates/main" %}

{% block mainbody %}
<div id="container" class="clearfix sidebar-right faq">
  <section role="main" id="content-main">
    <h2 id="page-title">Become a Givology Partner</h2>
    <article>
      <div class="article-content">
        <h1>Join our network of grassroots organizations</h1>
          
	<p>The benefits of becoming a Givology partner are multifold. As a partner of Givology, you gain access to a new source of funding for your operations, a larger network to spread awareness about your cause, and a resource for social impact monitoring and volunteer recruitment. Given our network of donors and our presence on social media, your organization can benefit from our platform through numerous marketing and fundraising activities. Unlike listings on other crowd funding websites, we provide support to our partners on a highly personalized level - to work together to achieve your objectives. If you have any questions about the partnerships process, please contact <a href="mailto:info@givology.org">info@givology.org</a> for further details. </p>
		 
			<dt>What are the requirements of becoming a Givology partner?</dt>
			<dd>Given our focus on transparency and maximizing impact per dollar spent, we require our potential partners to meet the following standards: 
			<p><b><br>501-(c)3 status (or equivalent) or official institutions of education</b> (i.e. local schools or universities) - Non-profit organizations based in the United States should have tax exemption status. NGOs abroad should have official non-profit status as recognized by local law. Official institutions of education should have documentation proving legitimacy of operations.
			<p><b>3+ years of field experience</b> - we partner with organizations that have a proven track record, innovative model for impact, and deep relationships and commitments to their local community. Our partners are continually present in the communities they serve and are intimately familiar with the families and students they help. 
			<p><b>Innovative impact model and targeting the right demographic</b> - we look for partners that have a focused methodology for assessing impact. Potential partners should critically assess that that they are reaching truly needy students, rather than students who are more convenient or easier to serve.
		 <p><b> Ability to provide regular updates</b> - given our focus on transparency, we require our partners to provide regular updates about the progress of projects and scholarships that we list on Givology. Progress updates often come in the form of videos, staff descriptions, photos, letters from students, academic transcripts, or any other medium. As we post these updates on our website and social media channels, our partners benefit from increased donor interest and potential further funding! </dd>
		  
		  
		<dt>What are the benefits of becoming a Givology partner?</dt>	
			<dd>We mainly provide our partners with four main benefits: (1) online funding, (2) offline funding through our chapters, (3) awareness building and marketing through our donor network and social media channels, (4) assistance with volunteer recruitment and other special initiatives. With our highly personal relationships with partners, we're here to support you in the way that you want.   </dd>

<dt>What's different about becoming a partner of Givology versus listing on other crowd funding websites? </dt>
<dd>Unlike other crowd funding websites, we don't see ourselves as simply just another online listing for fundraising. Rather, we have truly personal relationships with our partners and continually come up with creative campaigns and fundraisers to help support their activities. In addition to our online fundraising, our partners rely on us to help them with impact evaluation studies, volunteer recruitment, joint fundraising and marketing campaigns, and many other initiatives - whatever their priorities may be. As a few examples, we've held fundraiser events for specific partners in excess of >$20,000 in one night, wrote blog articles, applied for grants on behalf of our partners, launched a product line in which 100% of the profits went to a specific partner, sent graduate school teams to conduct impact evaluation surveys, and helped profile partners in our blog and newsletter postings that generate tens of thousands of views and direct more traffic to our partner's site. 
<p><b><br>Furthermore, 100% of the funding that we raise go to our partners</b> - no fee from Givology in any transaction or transfer. We do this because as volunteers, we're passionate about making a difference</dd>			

<dt>Once I complete my application, what is the process?</dt>
<dd>Once you submit your application, we will review all documents and schedule an interview with our team. After the initial interview, we may ask for additional follow-up discussions and/or further documentation or references.  </dd>						
						
						</dl>
					</div>
				</article>
			</section>

			<aside>

				<div class="widget general become-partner">
					<h3 class="widget-title">To Become a Partner</h3>
					<div class="widget-content">
						<p>Learn how your organization can join Givology's commitment to impacting student's lives around the world.</p>
						<p>Givology welcomes all interested parties to submit a completed Partner Application Form to our team at <a href="mailto:info@givology.org">info@givology.org</a></p>
						<div class="button-container"><a href="/static/partnerapp.doc" class="button">Download Partner <span>Application Form</span></a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->

				<div class="widget general field-partners">
					<h3 class="widget-title">Our Field Partners</h3>
					<div class="widget-content">
						<p>Learn more about the mission, history, and impact of our field partners, the true engines behind Givology.</p>
						<div class="button-container"><a href="/our-community/field-partners/" class="button">View our Field Partners</a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->

			</aside>
		</div>




{% endblock %}
