{% extends "giv/templates/main" %}

{% block mainbody %}


		<div id="container" class="media-photos">
			<h2 id="page-title">Photos</h2>
                        <h3 style="text-align: center" id="IE_warning"></h3>
			<section role="main" id="content-main">
				<nav class="media-filter">
					<h3>Category</h3>
					<ul>
						<li class="active"><a href="#">All</a></li>
					</ul>
				</nav>
				<ul class="media-items" id="photos_list">
				</ul>
                                <h3 style="text-align: center" id="flickr_link"></h3>
			</section>
		</div>

                <script src="/static/galleria/galleria-1.2.8.min.js"></script>
                <script src="/static/galleria/plugins/flickr/galleria.flickr.min.js"></script>

                <div id="gallery" class="modal">
                  <div id="galleria" style="height: 320px"></div>
                </div>
                

                <script src="/static/util.js"></script>
                <script type="text/javascript">

               if (navigator.appName === "Microsoft Internet Explorer") {
                  $("#content-main").remove();
                  $("#page-title").remove();
                  $("#IE_warning").append(
                          'Sorry, feature is currently not compatible with Internet Explorer.'
                        + '  Please check out our '
                        + '<a href="http://www.flickr.com/photos/givology" target="_blank">flickr page</a>!').css('margin-top', '5%');
               }
               else {
                  $("#flickr_link").append(
                         'See more at our '
                       + '<a href="http://www.flickr.com/photos/givology">flickr page</a>!');
               
                  $.getJSON("https://www.flickr.com/services/rest/?",
                   {
                    method:         "flickr.photosets.getList",
                    api_key:        "6301f21cf5678a2bd770a27b5d7d9a43",
                    user_id:        "77262267@N08",                         //givology
                    page:           1,
                    per_page:       16,
                    format:         "json",
                    nojsoncallback: 1
                   },
                   function (data) {
                      console.log(data.photosets.photoset);
                      $.each(data.photosets.photoset, function(i, item){

                          var id          = item.id;
                          var title       = shorten_string(item.title['_content'], 40);
                          var description = shorten_string(item.description['_content'], 50);

                          var html = (   '<li><article>'
				       + '<span class="media-thumb">'
                                       +   '<a href="http://placehold.it/640x640.jpg" '
                                       +     'set_id="' + id + '">'
                                       +     '<img set_id="' + id + '" alt="' + title + '">'
                                       +   '</a>'
                                       + '</span>'
                                       + '<span class="media-title">'
                                       +   '<a href="http://placehold.it/640x640.jpg" '
                                       +     'set_id="' + id + '">' + title
                                       +   '</a>'
                                       + '</span>'
				       + '<span class="media-meta">'
                                       +   description
                                       + '</span>'
				       + '</article></li>');

                         $('#photos_list').append(html);
                         if (i == 15) { return false; }
                      });
                   }).success(function() {

                      Galleria.loadTheme('/static/galleria/themes/classic/galleria.classic.min.js');

                      $('.media-photos .media-items img').each(function(e){
                          var that = this;
                          var set_id = $(that).attr('set_id');

                          $.getJSON("http://www.flickr.com/services/rest/?",
                           {
                              method:         "flickr.photosets.getPhotos",
                              api_key:        "6301f21cf5678a2bd770a27b5d7d9a43",
                              photoset_id:    set_id + "",
                              format:         "json",
                              nojsoncallback: 1
                           },
                           function (data) {
                          
                              var primary_photo = data.photoset.photo[0];
                              var url =
                                    ( "http://farm" + primary_photo.farm + ".staticflickr.com/"
                                     + primary_photo.server + "/"
                                     + primary_photo.id + "_" + primary_photo.secret + "_t.jpg");
                                    $(that).attr('src', url).css('width', 'auto')
                                                            .css('margin-left', 'auto')
                                                            .css('margin-right', 'auto')
                                                            .css('padding-left', 'auto')
                                                            .css('padding-right', 'auto');
                           } );
	              });

                      var galleria_opened = false;
                                    
                      $('.media-photos .media-items a').click(function(e){
 	                e.preventDefault();

                        var flickr = new Galleria.Flickr();

                        flickr.set($(this).attr('set_id'), function(data) {
                            if (! galleria_opened) {
                                 Galleria.run('#galleria', {
                                   dataSource: data,
                                 }); 
                                 galleria_opened = true;
                            }
                            else {
                               Galleria.get(0).load(data);
                            }

                            $('#modal-overlay').fadeIn(500,function(){
                                $('#gallery').fadeIn().css('margin-top', -( Math.round( $('#gallery').height() / 2) ));
		            });

                        });

	             });
                  });
                }
                </script>



{% endblock %}

