{% extends "giv/templates/main" %}

{% block mainbody %}

		<div id="container" class="clearfix sidebar-right annual-reports">
			<section role="main" id="content-main">
				<h2 id="page-title">Press</h2>
				<article>
					<div class="article-content">
						<p>In this section, check out our archive of Givology in the press. Through the years, we have done a series of campaigns, public art events, and other community initiatives to spread the word and inspire our community to act! If you have an article to contribute, please let us know at <a href="info@givology.org">info@givology.org</a>. </p>
						<ul>
						
							<li><a href="http://www.forbes.com/pictures/lmh45klkg/joyce-meng-27-jennifer-chen-27/">"30 under 30: Education" - Forbes</a>
							<br>"Creating a social enterprise with global impact doesn’t necessarily take a billionaire or a rock star. Chen (right) and Meng's 100% volunteer-run group connects donors to grassroots education projects and student scholarships around the world."</li>
							
							<li><a href="http://audreymagazine.com/joyce-meng-and-jennifer-q-chen-show-anyone-can-pay-it-forward-with-givology/">"Anyone Can Pay It Forward With Givology" - Audrey Magazine</a>
							<br>"Everyone can give back, and we should make giving part of our daily lives"</li>
							
						<li><a href="http://www.hercampus.com/career/how-she-got-there/how-she-got-there-joyce-meng-jennifer-chen-co-founders-givology">"How She Got There: Joyce and Jennifer Chen, Givology" - Her Campus</a>
							<br>"What's a typical day like at Givology? What advice would you give to a social entrepreneur with similar aspirations?"</li>
							
							
							<li><a href="http://samsdreamblog.com/2014/07/givology-ceo-joyce-mengs-global-dream/">"Givology's Global Dream" - Sam's Dream Blog</a>
							<br>"What we’re trying to do with Givology is trying to maximize the impact per dollar so that the aid in the world can be done a lot more efficiently with a lot more accountability and transparency."</li>
							
							
							<li><a href="http://www.huffingtonpost.com/kevin-yu/how-charitable-giving-can_b_2087128.html?utm_hp_ref=impact&ir=Impact">"How Charitable Giving Can Improve Your Finances" - Huffington Post</a>
							<br>"If I ever decide to donate money to a charity, I want to make sure that every dollar is going towards a good cause as opposed to paying an executive's salary. One of my favorite charities to donate to is an organization called Givology, which was awarded the top rated non-profit in 2012."</li>
							
							<li><a href="http://act.mtv.com/posts/track-your-impact-on-global-education-efforts-with-givology/" target="_blank">"Track your impact" - MTV Act</a>
							<br>"Sometimes, transferring cash to a far-away organization just doesn't sit well with me. After clicking "GIVE," I wonder where my money's actually going, and after all the administrative fees, how much of it is actually getting there. But thanks to a newish player in the nonprofit space, I'll be clacking away at that GIVE button like it's my j-o-b."</li>
							
							<li><a href="http://www.cover2coverpublications.com/publication/?i=77372" target="_blank">"Give to Learn, Learn to Give" - Cover2Cover</a>
							<br>"Some would say that education is the key to success, but what happens if education is not within  your reach?" Check out the Cover2Cover interview with Givology founder Joyce Meng.</li>
							
							
							<li><a href="http://act.mtv.com/posts/which-givology-collaborator-is-working-with-will-jaden-smith-in-2012/" target="_blank">"Givology Partnership with the M Night Foundation" - MTV Act</a>
							<br>'The team-up will see the M. Night Shyamalan Foundation providing Givology with a network of resources (contacts, infrastructure, etc.) to assist the nonprofit in making a scalable difference in countries across the world. Givology was started by two twentysomethings who wanted to change the way in which people give. With no overhead and 100 percent volunteer-led projects, the organization raised more than $100,000 in 2010 and provided books as well as nourishment to impoverished youth around the globe."</li>
							
													
					
							<li><a href="http://blog.designedgood.com/2012/08/03/givology-learning-giving-all-rolled-together/" target="_blank">"Learning and Giving, all Rolled Together" - Designed Good</a>
							<br>"My favorite -ology these days tends to be mixology (you know, after a long day at the Designed Good office...). But today my cocktail dreams will have to give way to Givology, an amazing micro-philanthropy organization for students."</li>
							
							<li><a href="http://www.tonic.com/post/50-dollars-art-exhibit-givology-circle-of-peace-school-uganda/" target="_blank">"The Givology $50 Campaign" - Tonic</a>
							<br>"It's often said that a picture is worth a thousand words. Some pictures however can leave you utterly wordless."</li>
							
							<li><a href="http://www.ywse.org/nywse/2012/07/givology-learn-to-give-and-give-to-learn.html" target="_blank">"Learn to Give, Give tO Learn" - YWSE</a>
							<br>"It just doesn't seem like my small contribution could make a difference." This is an all too often used phrase when it comes to giving donations to a cause or an organization. Some may even argue that the idea, "every little bit counts", has an obvious appeal but it cannot possibly carry the same weight as the contribution from one large donor. Givology couldn't disagree more. </li>
							
							<li><a href="http://www.fivepearlsfoundation.org/index.php?option=com_hwdvideoshare&task=viewvideo&Itemid=18&video_id=2" target="_blank">"High impact philanthropy 101" - 5 minute lecture</a>
							<br>In a five-minute lecture on Locust Walk in the center of the University of Pennsylvania's campus, Katherina Rosqueta, the executive director for Penn's Center for High Impact Philanthropy, discusses effective charitable giving. Organized by Givology, a student group designed to raise money for international educational development, the free lecture was open to the public. The Center for High Impact Philanthropy is a resource center for donors who want their charitable dollars to have the greatest social impact.</li>
							
							<li><a href="http://thecollegianur.com/2010/01/28/givology-spiders-new-student-group-helps-provide-education-in-kampala-uganda/10409/" target="_blank">"Givology Spiders reach out to Uganda" - The Collegian</a>
							<br>"Givology Spiders, a new student organization, works directly with the Circle of Peace School in a suburb of Kampala and was founded by University of Richmond graduate student and library night manager, Joanita Senoga. The group hosts fundraisers throughout the year to raise money for students at the Circle of Peace School, all of whom are too impoverished to have access to education otherwise."</li>
							
							<li><a href="http://ny.racked.com/tags/givology" target="_blank">"Temporary Tattoos for a Cause" - Racked</a>
							<br>"Tattoo anxiety is a real thing. And temporary tattoos are not cool...until now. Local nonprofit Givology teamed up with six top tattoo artists to create a collection of original temporary tattoos for The Temporary Tattoo Project."</li>
							
							<li><a href="http://www.intelius.com/corp/press/intelius-entrepreneurship-award-winners-talk-about-innovation-and-entrepreneurship-churchill-c" target="_blank">"Interview with Intelius Entrepreneurship Award Winners"</a>
							<br>Givology wins the Intelius Social Entrepreneurship Award. The Intelius Entrepreneurship Awards recognize exceptional college student-founded companies in the following categories: social impact, technology, marketing, international, and sustainability.</p>
							</li>
							
							<li><a href="http://vivanista.com/2010/03/what-would-you-buy-with-50/" target="_blank">"What would you buy for $50?" - Vivanista</a>
							<br>In December 2009, Jiashan Wu, New York based artist/designer, and Joyce Meng, founding CEO of Givology traveled to Uganda to visit the Circle of Peace School. Inspired by the cost of living and education in the region, they created this art campaign to raise money for the school. Over three weeks, they collected 163 drawings and portraits of the children, along with countless video interviews, photographs, and profiles.</li>
							
							<li><a href="http://kristof.blogs.nytimes.com/2009/02/10/do-it-yourself-foreign-aid/" target="_blank">"Do it Yourself Foreign Aid" - NYT Blog of Nicholas Kristof</a>
							<br>Givology was featured in Nicholas Kristof's blog</li>
							
							<li><a href="http://knowledge.wharton.upenn.edu/article.cfm?articleid=2159" target="_blank">"Givology: Using Social Networks" - Knowledge@Wharton</a>
							<br>Givology: Using Social Networks to Connect Education with the Developing World". Click above to read a Knowledge@Wharton transcript or hear a podcast about Givology's strategy and operations</li>
							
							<li><a href="http://www.upenn.edu/gazette/0709/gaz06.html" target="_blank">"A Profile on Givology" - Pennsylvania Gazette</a>
							<br>Read more about what inspires us, and the motivations of our founders</li>
							
							<li><a href="http://www.philly.com/philly/phillywomen/20090428_Penn_students__philanthropy_inspires.html" target="_blank">"Penn students' philanthropy inspires" - Philadelphia Inquirer</a>
							<br>Read more about our impact and our connections to Philadelphia and the University of Pennsylvania</li>
							
							<li><a href="http://blog.seattletimes.nwsource.com/philanthropy/2009/03/09/kiva_inspires_education_donati.html" target="_blank">"Start ups to fund education" - Seattle Times</a>
							<br>Read more about the work of Givology and the spread of Internet P2P communities for education sponsorship</li>
							
							<li><a href="http://www.uxforgood.org/blog/interview-givology.html" target="_blank">"Interview: Givology.org's Founder Joyce Meng" - UserExperienceforGood</a>
							<br>Check out a transcript of an interview with Givology's CEO and Founder Joyce Meng</li>
							
							<li><a href="http://news.mk.co.kr/outside/view.php?year=2009&no=152369" target="_blank">"Promoting Education through Online Social Networks" - Maeil Business</a>
							<br>Givology was featured in the most widely-circulated business newspaper in South Korea (Article in Korean)</li>
							
							<li><a href="http://connectionarchives.com/PDF/2009/012809/Vienna.pdf" target="_blank">"Givology Helps Students Abroad" - Vienna Connection</a>
							<br>Read more about Givology's mission for change, in line with Obama's inauguration</li>
							
							<li><a href="http://www.asianamericangiving.com/2008/10/givology---demo.html" target="_blank">"Democratizing Giving to Benefit Students" - Asian American Giving</a>
							<br></li>
							
							<li><a href="http://mashable.com/2011/03/15/ford-focus-social-good/" target="_blank">"Can Charity Marketing Really Sell Cars?" - Mashable</a>
							<br>We're featured in this article on Mashable regarding our participation in the 2011 Ford Focus Campaign</li>
							
							
							<li><a href="http://www.thedp.com/article/2009/11/givology_raises_money_for_school_in_uganda" target="_blank">"New Site Gives Donors More Control in Giving" - Daily Pennsylvanian</a>
							<br>Read about Givology's initial launch</li>
							
						</ul>
						
											
						
					</div>
				</article>
				
				<h2 id="page-title">Newsletter Issues</h2>
												<div class="article-content">
						<p>Check our archive of old newsletter articles, shown below.</p>
						<ul>
						<li><a href="/static/newsletter/may2013.pdf" target="_blank">Happy May from Givology!</a>
						<br>Our May 2013 issue introduces our #giveinspiration campaign (www.giveinspiration.org) and spotlights our parter Flying Kites in Kenya with co-founder Justine Axelsson</br>
						</li>
						
						<li><a href="/static/newsletter/june2013.pdf" target="_blank">Make your Summer one of Giving!</a>
						<br>Our June 2013 issue features our Chief Technology Officer Phil Gavlan, and spotlights our featured partner Kabultec, working in Afghanistan.</br>
						</li>
						
						<li><a href="/static/newsletter/july2013.pdf" target="_blank">Get Inspired to Give!</a>
						<br>Our July 2013 issue recaps the events of our "Do Good As You Go" Art Auction in New York City, which raised ~$20,000 for grassroots education projects around the world.</br>
						</li>
						
						</ul>
			</section>

			<aside>

				<div class="widget total-impact">
					<h3 class="widget-title">Total Impact So Far</h3>
					<div class="widget-content">
{% include 'widgets/total-impact-aside-stats.html' %}
						<p>Make an impact today! Help us give the gift of opportunity to students around the world.</p>
						<div class="button-container"><a href="/giv-now/giv-projects/" class="button">GIV to a project</a></div>
						<div class="button-container"><a href="/giv-now/giv-students/" class="button button-cta">GIV to a student</a></div>
					</div><!-- .widget-content -->
				</div><!-- .widget -->

			</aside>
		</div>




{% endblock %}
