<section id="support-givology">
  <h3 class="section-heading">Support Givology</h3>
  <ul>
    <li id="giv-givology"><a href="/giv-now/giv-givology/"><span class="button button-cta">Giv to Givology</span></a></li>
    <li id="giv-student"><a href="/giv-now/giv-students/"><span class="button button-cta">Giv to a Student</span></a></li>
    <li id="giv-project"><a href="/giv-now/giv-projects/"><span class="button button-cta">Giv to a Project</span></a></li>
    <li id="giv-gift-certificate"><a href="/giv-now/gift-certificates/"><span class="button button-cta">Giv a Gift Certificate</span></a></li>
  </ul>
</section>
