<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="/static/rcarousel.css" />
  <link rel="stylesheet" type="text/css" href="/static/trending_temp.css">
</head>
<body>
  <div id="trending">
    <div id="title">TRENDING PROJECTS</div>
    <div id="scroll-up" class="btn btn-light">&#x25B2</div>
    <div class="btn btn-shadow">&#x25B2</div>
    <div id="carousel">
      {% for result in data %}
      <a href='{{result.url}}'><img src='{{result.img}}' width="200" height="200"></a>
      {% endfor %}
    </div>
    <div id="scroll-down" class="btn btn-light btn-down">&#x25BC</div>
    <div class="btn btn-shadow btn-down">&#x25BC</div>
  </div>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- http://ryrych.github.io/rcarousel/ -->
  <script src="/static/jquery.ui.rcarousel.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#carousel').rcarousel({
      width: 200,
      height: 200,
      orientation: "vertical",
      navigation: {
        next: "#scroll-up",
        prev: "#scroll-down"
      },
      step: 1,
      margin: 10
    });
  });
  </script>
</body>