{% extends "giv/templates/main" %}

{% block mainbody %}
		<div id="container" class="who-we-are sidebar-right clearfix">
			<section role="main" id="content-main">
				<h2 id="page-title">Who We Are</h2>
				<article>
					<div class="article-content">
						<h1>Give to learn, learn to give.</h1>
						<p>Welcome to Givology! As a 100% volunteer-run social enterprise, we connect you to grassroots education projects and student scholarships around the world. From teacher training and school lunch programs to library construction and scholarships, we emphasize transparency and maximizing the impact per dollar given.   </p>
					</div>
				</article>

			</section>
			<aside>
					
			<iframe width="448" height="251" src="http://www.youtube.com/embed/q8t9OWyGRUo?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
				</p>
			</aside>
		</div>

		<nav id="tertiary">
			<ul>
				<li><a href="/who-we-are/how-it-works/">How It Works</a></li>
				<li><a href="/who-we-are/mission-vision/">Mission &amp; Vision</a></li>
				<li><a href="/who-we-are/executive-team/">Our Team</a></li>
				<li><a href="/who-we-are/partnerships/">Partnerships</a></li>
				<li><a href="/who-we-are/faq/">FAQ</a></li>
				<li><a href="/who-we-are/contact-us/">Contact</a></li>
			</ul>
		</nav>


{% include "sub-support-givology.html" %}

{% endblock %}
