	hr {color:sienna;}
	p {
		margin-left:0px;
	}
	
	body{
		padding: 0px;
		margin: 0px;
		background: #000;
		font-family: "Trebuchet MS",sans-serif, verdana, arial;
		color: #585858;
		font-size: 11px;
	}

	.linktext{
		font-family: "Arial Narrow","Trebuchet MS",sans-serif, verdana, arial;
		color: #3b630b;/*#585858;*/
		font-size: 11px;
		font-weight: 700;
	}
	
	#wrapper {
		width: 520px;
		background: #fff url("images/header-bg2_02.jpg") top left no-repeat;
		height:100%;
		position: absolute;
		top:0px;	
		background-color:#fff;
	}
		
	#header {	
		position:relative;
		padding: 25px 0 0 30px;		
	}

	#maincenter{
		width:500px;
		position: relative;
		padding: 70px 0 0 0;
		float:left;
	}
	
	#footer-wrapper{
		background: #fff url(images/footer-bg2_30.jpg) left bottom no-repeat;
		position: relative;
		float:left;
		width:100%;
		}
	
	#wrapper-test{
		width: 520px;
		background: #000;
		position: relative;
		top:10px;	
		display:none;
	}
	
	#body{
		height: 100px;
		width:100%;
		position:relative;
		float:left;
	}
	
	#footer{
		height:230px;
		position:relative;
		width:520px;
		float:left;
		/*padding-left:100px;*/
	}
	
	.polaroidbtm{
		width:280px;
		float:right;
		position:relative;
		border:0px solid 8ec500;
		margin-left:10px;

	}
	
	#polaroidlinks{
		width:105px;
		position:relative;
		float:left;
		text-align:right;
		margin:45px 0 0 100;
		padding:0px 15 5 0;
		border-right-width:1px;
		border-right-style: solid;
		border-right-color: #8ec500;
		text-transform:uppercase;
	}
	
	#polaroidlinks p{
		margin: 0.3em 0 0.3em 0;
	}
	
	.floatleft520{
		position: relative;
		float: left;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		width:520px;
	}
	
	.floatleft{
		position: relative;
		float: left;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	
	.floatright{
		position: relative;
		float: right;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		background-color:none;
		border:0px solid red;
	}
		
	#header img{
		margin-top: 0px;
		position:relative;
		float:left;
	}
	
	#header ul{
		left: 85px;
		top: 20px;
		position: relative;
		padding: 0px;
		margin: 0px;
		list-style:none;
		float:left;
		/*
		font-family: "Arial Narrow","Trebuchet MS",sans-serif, verdana, arial;
		font-size: 11px;
		color: #2e5f7e;	
		font-weight: 700;*/
	}
	
	#header li{
		display: inline;
		padding: 0px;
		margin: 15px;
	}
	
	#maincenter1{
		background: #fff url("images/maincenter_05.gif") top left no-repeat;
		width:381px;
		height:33px;
	}
	#maincenter2{
		background: #fff url("images/maincenter_07.gif") top left no-repeat;
		width:250px;
		height:200px;
	}
	#maincenter3{
		background: #fff url("images/maincenter_08.jpg") top left no-repeat;
		width:169px;
		height:200px;
	}
	#maincenter4{
		background: url("images/maincenter_09.png") top left no-repeat;
		width:81px;
		height:200px;
	}	
	
	#applelogo{
		background: url("images/applelogo_15.gif") 50% 10px no-repeat;
		width:150px;
		height:150px;
		background-color:white;
	}
	
	#aboutbuttons{
		text-align: center;
		top: 10px 0 0 0;
	}
	
	#abouttext{
		width:340px;
		line-height:14px;
		background-color:white;
		padding:15px 0 15px 0;	
	}
	
	#studenttop{
		/*background-color:white;*/
		padding:15px 5px 0px 15px;
		font-size: 14px;
		font-weight:600;
		color: #004f86;
		width:500px;
		/*border:1px solid red;*/
		background-color: none;
	}
	
	.studentbio{
		font-size:9px;
		font-weight:400;
		color: #585858;
		width:160px;
		/*height:70px;*/
		line-height:100%;
		/*border:0px solid red;*/
	}
	
	.projectbio{
		font-size:9px;
		font-weight:400;
		color: #585858;
		width:150px;
		height:50px;
		border-left:0px solid c0d4e1;
		margin-left:5px;
		padding-left:5px;
		margin-top:5px;
		padding-top:5px;
		background-color: e3f3f9;
		line-height:100%;
	}
	
	.clearfloats{
		clear:both;
	}
	
	.stdnt_pic{
		margin:5 0 0 0;
		padding: 0 0 0 5;
		width:60px;
		border:0px solid RED;
	}
	
	.stdnt_money{
		font-weight:400;
		width:90px;
		padding: 5px 0 0 5;
		margin: 5px 0 0 0;
		color: #000;
		background-color: f0f9d5;
	}
	
	.stdnt_desc{
		padding: 5px 0 10 5;
		margin: 0px 0 0 0;
		width:90px;
		background-color: f0f9d5;
	}
	
	.slanted{
		font-style: italic;
	}
	.thick{
		font-weight:900;
		font-size:10px;
	}
	.dark{
		color: #000;
		font-weight:700;
	}
	
	.pushleft{
		margin-left:20px;
		margin-top:4px;
	}
	
	.pushright{
		margin-top:4px;
		margin-right:10px;
	}
	.pushrightx2{
		margin-top:4px;
		margin-right:20px;	
	}

	
	img{
		border-style: none;
		text-decoration: none;
	}
	/*3b630b 2e5f7e 7fa220*/
	
	.linkstyle a:link { color: #3b630b; text-decoration: none }
	.linkstyle a:active { color: #7fa220; text-decoration: none }
	.linkstyle a:visited { color: #3b630b; text-decoration: none }
	.linkstyle a:hover { color: #7fa220; text-decoration: none; background: #c7f45c }